[2015-07-29 17:36] mijikim opened #1 "Including CPU & Memory tracking function"
Hi, I think it will be great if minigun run command produces cpu & memory usage report.

I am testing this by incorporating usage module into minigun-core module and supplying pid in the JSON file that 'minigun run' command will read.  If pid is not given, run command should work without collecting cpu & memory data. Would appreciate your opinion on this!

[2015-07-30 12:16] hassy commented on #1
Hello @mijikim. Is this for CPU and RAM usage of Minigun itself or of the target? I think that either way, one should be using external tools to monitor the processes, e.g. `ps` if you're watching Minigun, or `collectd` or New Relic on your servers. There may be an option to talk to the agent on the host that is running the target process to get the info, but that wouldn't be something I'd priorit

[2015-07-30 15:56] gajjargaurav opened #2 "minigun should support different environments"
I want to be able to run the same scenario across multiple environments. I can easily copy the json file per environment or use the json file as template for all scenarios I want to run.
e.g. the target might be
* **http://localhost:8080** for local
* **http://developmentdomain** for development environment
* **http://stagingdomain** for staging environment
* **http:livedomain**  for live/producti

[2015-07-30 16:11] gajjargaurav commented on #2
I am thinking of using [config](https://github.com/lorenwest/node-config) which allows to setup config files per environment and [json-templater](https://github.com/lightsofapollo/json-templater) which will allow us to use the test script as a template such that,
a config file for development environment would look like,

[code]
and config for live environment would look like,
[code]

Notice that

[2015-07-30 16:12] gajjargaurav commented on #2
first commit towards that on a fork https://github.com/gajjargaurav/minigun/commit/6c6823c61d6e39cbadf2d5d1d95199e541bfbf2c

[2015-07-30 17:38] hassy commented on #2
@gajjargaurav This is a very good suggestion for a common use-case, however I feel that introducing JSON templating into Minigun is an over-complication. There should be another (simpler) way of separating config from scenario definitions, I'll have a think and I'm open to suggestions. :)

[2015-07-30 18:14] mijikim commented on #1
@hassy This will be for cpu and ram of the target. The use case will be me running a node application on my machine and collecting data of that application by supplying pid. And I am testing usage module to get the data. So instead of embedding this in minigun-core, you suggest a plugin for this feature?

[2015-07-30 23:16] gajjargaurav commented on #2
@hassy I agree, it isn't something core to minigun and can be abstracted away from it to keep it environment agnostic. A wrapper can be built or leave it to cleint apps to handle the environments. However I think that having it as a feature of minigun isn't too bad either.

[2015-07-31 08:35] hassy commented on #1
@mijikim I'm guessing you want to correlate the exact point in the load-test with where CPU/RAM usage spikes? Yes, it would be really useful to have this data available in the reports that Minigun generates, but for this feature to be built right into Minigun it would need to:

1. Be easy to set up (easier than just using another tool like `ps` or `collectd` or a New Relic agent etc)
2. Work with

[2015-07-31 08:37] hassy commented on #2
@gajjargaurav How about being able to set (or override) values in the `config` section of a script? For example, with something like:

[code]

(This could be extended to work for any value that can be specified in the `config` section.)

[2015-07-31 10:16] gajjargaurav commented on #2
I'd like both  :blush:

[2015-07-31 18:47] mijikim commented on #1
@hassy I see your point and agree that this should be a plugin.  I am happy to create a plugin for a purpose to record cpu&memory on targets that are on the same machine.  I would greatly appreciate your help as this will be my first time contributing to open source project :)

[2015-08-04 13:41] hassy commented on #2
Another option is to allow environment definitions with something like this:

[code]

And to run the scenarios in a specific environment:

[code]

So environments are identified by an arbitrary name, and each of them can contain the options currently supported inside the `config` definition.

The `config` section can still be used just like now, and those values will be:
- used if no environment i

[2015-08-04 13:43] hassy opened #3 "Plugin interface for Minigun"
Originally prompted by: https://github.com/artilleryio/minigun/issues/1

[2015-08-04 13:43] hassy commented on #1
@mijikim I'll need to have a think about a plugin interface for Minigun. Please add suggestions and ideas to: https://github.com/artilleryio/minigun/issues/3 :)

[2015-08-04 13:43] #1 closed

[2015-08-05 20:25] gajjargaurav commented on #2
@hassy I like your idea. This should be an easy implementation too :+1:

[2015-08-06 12:50] hassy opened #4 "Generating graphical reports from JSON reports"
Minigun should provide the ability to generate graphical reports from the JSON reports created by `minigun run`.

Requirements:
- The report should show all metrics from the JSON file.
- The report should be a self-contained HTML file that can be copied, emailed, embedded in a Jenkins build report with the [HTML Publisher Plugin](https://wiki.jenkins-ci.org/display/JENKINS/HTML+Publisher+Plugin) e

[2015-08-07 10:01] hassy commented on #4
Initial implementation in https://github.com/artilleryio/minigun/commit/b174ac27b6a9387e417c581aed9a8ad9535fedbf :tophat:

![https://cldup.com/PYeZJTCe86-1200x1200.png](https://cldup.com/PYeZJTCe86-1200x1200.png)

[2015-08-07 12:55] #4 closed

[2015-08-07 14:03] hassy commented on #2
Initial support has been implemented, but the code needs more tests before I merge it.

[2015-08-13 23:42] StevenWeathers opened #6 "Investigate using Wreck instead of Request"
Especially considering this applications goal is to load test something I would recommend against using Request module, its bloated and less performant than something like Wreck

[2015-08-14 12:10] hassy commented on #6
@StevenWeathers Thanks for your suggestion. I haven't used Wreck myself and Request has been performant-enough for now. Wreck does not seem to be as featureful as Request either. I'd be interested in a performance comparison between the two. Is worse performance something you ran into with Request?

[2015-08-14 20:16] StevenWeathers commented on #6
While I agree Wreck isn't as featureful as request, that's one of the big reasons its a better use as its less bloated and requires far less dependencies.  Overall I've seen better performance using Wreck than Request but haven't formally put together any benchmarks.  I'll try to find time to do so in the near future and share them with you.

[2015-08-18 05:16] CaseyBurnsSv opened #8 "Disable SSL verification"
Hello. Loving this tool.

How can I configure it to not validate SSL certs. I am using self-signed certs in our staging environment.

All requests are errors - DEPTH_ZERO_SELF_SIGNED_CERT.

Thank you!

[2015-08-18 08:06] hassy commented on #8
Hi @CaseyBurnsSv, glad to hear that! We have in fact just implemented this in minigun-core - https://github.com/artilleryio/minigun-core/issues/5. I'll push a new release to npm later today.

[2015-08-18 18:30] hassy commented on #8
@CaseyBurnsSv I just published Minigun 0.0.15 which now has the `--k` (or `--insecure` - just like `curl`) option to disable validation. Alternatively, validation can be disabled in the test script with:

[code]

Give it a go and let me know what you think.

And speaking of environments - if you have any thoughts on environment support, please share them here: https://github.com/artilleryio/minigu

[2015-08-18 18:33] #8 closed

[2015-08-18 23:35] CaseyBurnsSv commented on #8
Hi. Working perfectly! Thank you for the fast update.

`--insecure` and `"rejectUnauthorized": false` work. `--k` gave me `error: unknown option `--k`.

[2015-08-19 17:59] mijikim commented on #3
@hassy Hi, just wanted to let you know that I am working on a poc of this.  Once I am done with that, I will send a zip file of the poc and do a PR so you can see the git dff.  From that point on we should be able to have further discussion as to how we want to approach this.

[2015-08-19 20:23] hassy commented on #3
@mijikim Sounds great! please do. :)

[2015-08-25 13:45] KlonD90 opened #9 "Socket.io usage example"
It's great library but i need some examples with Socket.io. Can you help me with this?

[2015-08-26 08:29] hassy commented on #9
@KlonD90 I'm not really familiar with Socket.io but if it's possible to connect directly to the WebSocket endpoint of a Socket.io server, then you will be able to use the "ws" engine in Minigun - small example [here](https://github.com/artilleryio/minigun-core/blob/master/test/scripts/hello_ws.json).

It's probably worth investigating adding full Socket.io support to Minigun as it's a very popular

[2015-09-03 00:47] mijikim commented on #3
@hassy hello, I just created PR for both minigun and minigun-core.  I created a minigun-profiler that can be invoked by minigun-core should people choose to use it (by passing in as a command line option). I kept in mind that we wanted this to be a separate from the minigun, but had a hard time figuring out a way to completely not depend on core and its event emitters.

Please take a look at the p

[2015-09-07 07:45] hassy commented on #3
@mijikim awesome! Let me take a look through the code - you're right in that ideally plugins will be separate from Minigun itself. thanks for taking the time to contribute! :tophat:

[2015-09-19 14:32] #2 closed

[2015-09-21 07:54] hassy commented on #3
I have implemented initial support for plugins in the [feature/plugins](https://github.com/artilleryio/minigun-core/tree/feature/plugins) branch. The guide to writing a plugin is [here](https://github.com/artilleryio/minigun/blob/master/docs/plugins.md) and there's an example plugin to look at: [plugin-statsd](https://github.com/artilleryio/plugin-statsd).

@mijikim I kept your plugin's use-case i

[2015-09-21 16:54] mijikim commented on #3
@hassy sounds great! I will take a look into your example and make the adjustment as needed :+1:

[2015-09-21 18:13] mijikim commented on #3
@hassy Do you think it will be possible for plugins to subscribe to scenarioEvents ee as well (I see how the interface is working and am not sure if this would be possible...)? A profiler would need to listen to 'response' event and collect CPU and Memory usage at that moment.  Or is there a way for me to make that happen with the implemented interface? Thank you!

[2015-09-21 18:27] hassy commented on #3
@mijikim That's not possible at the moment if I understand correctly. Would you really want to collect that information on every response? You could potentially have hundreds of those events every second. `'stats'` might be what you're looking for - that fires off every 10 seconds by default.

[2015-09-21 18:50] mijikim commented on #3
@hassy I was just going to write - perhaps collecting in timed interval might be better :smile: Thank you for your quick response

[2015-09-21 19:52] hassy commented on #3
@mijikim Looking forward to the first Minigun plugin being available! :) :+1:

[2015-09-22 03:07] mickey9801 opened #11 "Fail to install on OSX 10.10.5"
I am trying to install minigun on my Mac with OSX 10.10.5 but it failed. There are several error message according to bufferutil:
[code]

I have checked bufferutil's project page [here](https://github.com/websockets/bufferutil/issues/17) and seems that they have a workaround by adding a npm-shrinkwrap.json in the project root.

[2015-09-22 07:22] hassy commented on #11
Thanks for the bug report and the pointer @mickey9801 - this should now be fixed in minigun 0.1.18.

[2015-09-22 07:22] #11 closed

[2015-09-22 09:24] mickey9801 commented on #11
I can install minigun successfully now. Thank you for your fast action.

[2015-09-28 04:59] mijikim commented on #3
@hassy minigun-plugin-profiler has been published into npm :)

[2015-09-29 19:40] mijikim commented on #3
@hassy Could you give me an eta for when minigun plugin interface branch will get merged into minigun core master?

[2015-10-01 13:03] hassy commented on #3
@mijikim nice one :) and I just merged plugin support into master and npm published 0.2.0.

[2015-10-01 13:03] #3 closed

[2015-10-01 21:06] mijikim commented on #3
@hassy awesome!  Would you be including the plugin into core's package.json?

[2015-10-02 11:16] hassy commented on #3
@mijikim not yet but is an option for down the line - both the plugin interface and plugins that get included need to stabilise first

[2015-10-07 12:13] hassy commented on #6
I'm working on a suite of benchmarks comparing Request and Wreck - so far I'm seeing that Request is ~20% slower - I'll update this when I have the final results.

[2015-10-15 16:49] hassy opened #14 "Postman integration"
It would be nice to have support for [Postman](https://www.getpostman.com) collections in Artillery.

[2015-10-15 16:50] hassy opened #15 "Socket.io support"
It would be nice to have first-class Socket.io support in Artillery.

(Closes https://github.com/shoreditch-ops/minigun/issues/9)

[2015-10-15 16:51] #9 closed

[2015-10-15 17:02] hassy opened #16 "XMPP support"
Minigun should have support for XMPP/Jabber.

[2015-10-16 12:12] hassy opened #17 "Minigun should support default configuration read from a file"
e.g. `~/.minigunconfig`

This will allow users to enable certain plugins by default, e.g.: [`minigun-plugin-blessed`](https://github.com/xicombd/minigun-plugin-blessed)

[2015-11-04 12:28] DannyCork opened #18 "http://minigun.io/ 404s"
https://artillery.io/minigun/ contains 4 404s
Each of these links generate a 404

4. Learn more
There's plenty you can do in your scripts:

Specify multiple load-phases
Set custom headers
Use payload files for POST data
Set expectations on response latency

I didn't see the source for https://artillery.io/minigun/  on github so I can't fix the problem :(

[2015-11-04 22:01] hassy commented on #18
Cheers @DannyCork - Minigun has a new website now at http://minigun.io/ (source is at https://github.com/shoreditch-ops/minigun-www) and the old one will be retired.

[2015-11-04 22:02] #18 closed

[2015-11-24 12:43] Soarez opened #23 "There should be a way to define the target from a cmdline argument or an env variable"
Any guidelines for a PR on this?

[2015-11-24 13:42] hassy commented on #23
This would be awesome. How about a command line switch to `minigun` that allows the user to overwrite any field in the config file. Something like this to override `config.target`.

[code]

or like this to override a default header:

[code]

An perhaps cleaner alternative is to use JSONPath to select the path to be modified (since JSONPath is already used for parsing and capturing responses inside

[2015-11-24 18:18] Soarez commented on #23
[`commander`](https://www.npmjs.com/package/commander) offers no support for using multiple instances of the same command line flag. i.e. it wouldn't be possible to

[code]

So unless we go with another cmdline args parser, we will only be able to override one option with this interface.

I only need to override the target, I'm not sure if overriding other things is really all that necessary.

The

[2015-11-24 18:27] hassy commented on #23
Can we make it `--target`? +1 on actually not needing to be able to override everything yet.

[2015-11-24 19:50] #23 closed

[2015-11-25 14:20] lukebond opened #25 "Make `target` available as a variable"
It would be nice to be able to assemble URLs from variables in scenarios, therefore would be nice to have `target` available as a variable by default.

[2015-11-25 15:29] #25 closed

[2015-12-14 11:13] hassy opened #27 "Better debug mode"
Minigun needs to provide better visibility into what's happening under the hood while a test is running.

This is useful for developers that want to contribute new features or fix bugs, and for users while writing and debugging scenarios.

[2015-12-18 16:22] tomgco opened #28 "minigun quick: Phase undefined started."
[code]

[code]

[2015-12-18 16:24] tomgco opened #29 "minigun dino: different dino’s in the same day."
This is conflicting with the `--help` information:

[code]

[code]

[2015-12-18 18:01] hassy commented on #28
:+1: Known issue, fix incoming.

![soon.js](http://i.giphy.com/fZ3Q3qRYCw0Zq.gif)

[2015-12-18 18:03] hassy commented on #29
Looks like a serious issue in the day of the week -> dino hashing function. :cold_sweat:

[2015-12-18 18:21] Art2B opened #30 "Process out of memory"
Hi !

I've been using Minigun to send requests with base64 img in request params. But i've got the following error when I'm launching minigun:

[code]

I've joined a zip file with the minigun params i use.

[2015-12-18 22:15] hassy commented on #30
Thanks for the detailed bug report - I can reproduce the error and will investigate :+1:

[2015-12-18 22:30] hassy commented on #30
I think I have a fix but will need to test it further before merging and publishing a new version.

[2015-12-19 11:15] #30 closed

[2015-12-19 11:24] hassy commented on #30
@Art2B Published `v1.2.15` which should fix the issue.

[2015-12-29 08:54] hassy commented on #28
Fixed in `1.2.6`

[2015-12-29 08:54] #28 closed

[2016-01-05 12:14] tomgco opened #32 "feature request: ability to create new engines as plugins"
I am looking at creating a RabbitMQ engine for Minigun. At the moment I am finding myself having to fork minigun-core to add what I need, do you plan to implement support for creating engines outside of minigun-core?

[2016-01-05 13:58] tomgco commented on #32
Just going to note down an example interface to follow. I will also point out some things which I think could be abstracted away as they seem to be repeated in every engine (for now).

[code]

Thoughts are an engine exposes the createStep function, this will be called internally by mapping the scenarioSpec, the compile export will be the same as it currently is.

[2016-01-06 11:38] hassy commented on #32
This is awesome :+1:

I think engines for common protocols should be bundled with Minigun for better developer experience. If someone were to write an engine for a custom protocol and didn't want to distribute it, they'd have to maintain a private fork (which would be easy to keep up to date since the change would be isolated to one file).

The two bundled engines already sort-of specify an interf

[2016-01-06 17:52] #32 closed

[2016-01-07 11:47] tomgco opened #33 "Unable to pipe output of minigun cli"
[code]

[2016-01-07 14:26] hassy commented on #33
Thanks :+1:

[2016-01-07 15:37] tomgco opened #34 "Feature request: Addition of Phase information in report"
This would be nice as it would be possible to implement annotations on graphs, to show when the tests ramp up / down.

![newplot](https://cloud.githubusercontent.com/assets/524382/12174351/f57ee25e-b553-11e5-9e28-26c20e1b1595.png)

The phases in this graph are:

[code]

[2016-01-08 08:58] hassy commented on #34
:+1: the name of the phase should be included somewhere - along the X axis perhaps. Not sure if the charting library Minigun is using supports that though.

[2016-01-08 10:04] tomgco commented on #34
I believe that in the graphing library that minigun uses, support for annotations are included:
http://metricsgraphicsjs.org/examples.htm#annotations

Something like that could be really helpful when looking at the graphs.

[2016-01-08 16:05] #33 closed

[2016-01-12 02:32] kjgorman opened #37 "1.3.1 breaking undefined reference"
Hi @hassy the 1.3.1 version you pushed earlier has a rather nasty breaking bug in it.

[code]

Here is a simple reproduction config:

[code]

The bug appears to be because of this line: https://github.com/shoreditch-ops/minigun/blob/46ddfd1c9f3efa57a171287719c44216020ca3be/lib/commands/run.js#L124 causing this falsity check: https://github.com/shoreditch-ops/minigun-core/blob/380f5c76f86ea6ca1d14a

[2016-01-12 02:49] kjgorman commented on #37
(a cursory `context.payload = []` appears to fix this simple case. I don't have something that uses payloads handy to test that though.)

[2016-01-12 10:28] #37 closed

[2016-01-12 10:30] hassy commented on #37
@kjgorman oops! thanks for the report. Just published `1.3.2` with a fix.

[2016-01-15 15:25] hassy commented on #6
Closing - MG will continue to use Request by default as Wreck is too limited. A custom Wreck-based engine would be easy to implement if someone really wanted one.

[2016-01-15 15:25] #6 closed

[2016-01-15 15:26] #27 closed

[2016-01-15 15:26] #17 closed

[2016-01-20 17:33] #34 closed

[2016-01-29 23:35] sericaia opened #44 "artillery-plugin-statsd does not exist"
Link to https://github.com/shoreditch-ops/artillery-plugin-statsd is placed in [/docs/plugins.md](https://github.com/shoreditch-ops/artillery/blob/master/docs/plugins.md) but artillery-plugin-statsd does not exist. ['minigun-plugin-statsd'](https://github.com/shoreditch-ops/minigun-plugin-statsd) project name must be replaced by 'artillery-plugin-statsd', along with the other plugins.

[2016-01-29 23:41] hassy commented on #44
Oops, thanks! Done for the statsd plugin. :ok_hand:

[2016-01-30 12:12] #44 closed

[2016-02-04 17:16] cyberthom opened #47 "distributed load testing"
Is there support (or planned) for distributed load testing?

We currently use Locust which handles this quite nicely using master / slave mode:

[code]

http://docs.locust.io/en/latest/running-locust-distributed.html

[2016-02-04 18:23] hassy commented on #47
It's on the roadmap for `v1.4`, coming soon!

[2016-02-05 16:07] cyberthom commented on #47
amazing! 🎉🎊🎉🎈

[2016-02-08 14:27] hassy opened #49 "Changing the license to MPLv2"
Hello, awesome Artillery contributors! (tagged in this Issue)

I have a favor to ask. To help grow the community around this project and to help ensure its long-term success, I'd like to release all future versions of Artillery under the Mozilla Public License v2 (MPLv2).

**Why MPLv2?**

In a nutshell, MPLv2 sits between strong copyleft licenses like GPL and permissive licenses like ISC/MIT and p

[2016-02-08 14:31] lukebond commented on #49
yes

(software licences confuse me but from a cursory scan it LGTM)

[2016-02-08 14:35] sericaia commented on #49
yes :dancer:

[2016-02-08 14:46] Soarez commented on #49
yes

[2016-02-08 15:59] xicombd commented on #49
yes :+1:

[2016-02-08 16:00] tomgco commented on #49
yes :octopus:

[2016-02-08 16:58] hassy opened #50 "AMQP support"
We should add an AMQP engine to make Artillery even more useful for teams working on microservice-oriented architectures where RabbitMQ is often employed as microservice glue.

[2016-02-08 19:34] kjgorman commented on #49
yes :100:

[2016-02-08 21:04] fabiosantoscode commented on #49
Yes :cake: :rainbow: :javascript:

[2016-02-09 12:30] hassy opened #51 "Improve graphical reports"
Current output of `artillery report` is quite useful, but there are many ways in which the reports can be improved further to help analyse performance of the systems under test.

Specifically, with this change in `core` it's now possible to show fine-grained request latencies: https://github.com/shoreditch-ops/artillery-core/commit/fe9e0b62a0d8e3374ceaf9179c353fd41e20203c

There are other enhancem

[2016-02-09 12:32] hassy commented on #29
We could do with more dinos too. :dragon:

[2016-02-09 12:36] tomgco commented on #29
Excited for 1.4 now :dancer:

[2016-02-09 16:12] cejast commented on #49
yes

[2016-02-09 18:46] hassy commented on #49
Thanks everybody :yellow_heart:

[2016-02-09 18:46] #49 closed

[2016-02-11 12:07] cyberthom opened #53 "loop not working"
I am trying to get a `loop` step to work but am getting the following exception:
[code]

I have literally tried the example file from your unit tests folder to make sure there's no syntax error: https://github.com/shoreditch-ops/artillery-core/blob/master/test/scripts/loop.json

Findings:

The `step` function (in engine_http.js) tries to pass `params.url` to the `template` function (in engine_util

[2016-02-11 12:11] hassy commented on #53
The example should work - it might be that `artillery-core` that's installed on your machine is not the most recent one. Could you try reinstalling `artillery` and trying again?

[2016-02-11 12:15] cyberthom commented on #53
Ah, good call - I was on artillery 1.3.2.
1.3.4 works fine 👍🏻

[2016-02-11 12:15] #53 closed

[2016-02-15 13:43] hassy opened #54 "Improve quick mode"
Right now, `artillery quick` is just a thin layer on top of the `run` command. Several ways in which it can be improved:
- [x] Add options to make it usable in the manner of `wrk` / `vegeta` (set number of requests to send, set concurrency, set target RPS).
- [ ] Have it format its own output and change it to better suit the usage of `quick` as opposed to `run`, e.g. displaying scenario stats does

[2016-02-15 14:00] sw360cab opened #55 "Setting output file name"
Trying figuring out how I can provide a filename in .json config files for the output file generated in reports

I've found in src files this:
**lib/commands/run.js**

    const defaultOptions = require('rc')('artillery');
    ...
    if (defaultOptions.output) {
      logfile = moment().format(defaultOptions.output);
    } else {
      logfile = moment().format('[artillery_report_]YMMDD_HHmmSS[.j

[2016-02-15 14:03] hassy commented on #55
@sw360cab you can use the `-o` flag to set the name of the file, e.g.:

`artillery run -o output.json mytest.json`

[2016-02-15 14:07] sw360cab commented on #55
Works smootly!
Sorry for bothering, but I really cannot find that on the documentation...

Thanks a lot

[2016-02-15 14:07] #55 closed

[2016-02-15 14:12] hassy commented on #55
No worries. The docs are a major priority for the next release.

[2016-02-22 13:17] robertherber opened #56 "Any way to specify timeout?"
Is there any possibility to specify a longer timeout than 10s, which seems to be the current limit? Our server (and third-party services behind it) does some heavy lifting with payments etc and 10s doesn't quite cover it for us.

[2016-02-22 13:29] hassy commented on #56
@robertherber yes, you can set `config.timeout` to override the default 10 seconds. It wasn't documented, but it is now - https://github.com/shoreditch-ops/artillery/wiki/Reference#config - thanks!

[2016-02-22 14:53] #56 closed

[2016-02-22 17:23] facboy opened #57 "Indefinite loop does not work"
I might be configuring this wrong, but if I configure a loop and omit the 'count' variable to have the loop repeat indefinitely, requests gets reported as 0 and no stats are recorded for request latency.  If I add the count variable then things seem to work as expected

[2016-02-22 17:53] facboy opened #58 "Can't use 'think' in a loop"
This seems to cause the following:

[code]

[2016-02-22 17:54] robertherber commented on #56
Thanks for a quick response, I appreciate it!

[2016-02-22 22:19] hassy commented on #58
Thanks, this looks like a bug.

[2016-02-22 22:20] hassy commented on #57
Nope, you're not wrong - it's a bug.

[2016-02-22 22:34] hassy commented on #57
Fixed in `1.3.5`, `npm install -g artilery@latest` to upgrade. :)

[2016-02-22 22:34] #57 closed

[2016-02-22 22:34] hassy commented on #58
Fixed in `1.3.5`, thanks for the bug report. :+1:

[2016-02-22 22:34] #58 closed

[2016-02-23 16:07] hassy opened #59 "TLS certificate verification doesn't always work as expected"
Artillery does not always recognize valid TLS certificates. For example:

[code]

The issue is that Node.js uses its own certificate bundle, which does not include many CAs. To fix, a custom bundle needs to be used by the HTTP engine.

[2016-02-25 01:19] markgandy opened #60 "Pick rows from CSV in sequence rather than at random?"
Each scenario in my test needs to have a unique orderNumber variable.  My orderNumbers are read in from CSV file, but because these are picked at random the same orderNumber can (and does) get re-used. Is there any way that variables from CSV can be looped through in sequence rather than picked at random?

[2016-02-25 10:01] hassy commented on #60
@markgandy there's no way to do that at the moment. Adding an option to read the rows in sequence shouldn't be much work though.

For your use-case, once the last row is reached, would it be okay to wrap around and start from row 0 again?

Do these order numbers correspond to some pre-existing id on the backend, or would it work if you could create them in the scenario on the fly?

[2016-02-27 03:47] markgandy commented on #60
@hassy Yes wrapping and starting from row 0 again would be fine. The order numbers do need to match against our backend. Orders need to be imported in a batch before the test runs (via API call), so we're currently doing that as a separate step before the test runs. Would be nice to do this in artillery with a before test hook, but I don't think that is supported..(and I'm getting off track for th

[2016-02-29 16:00] hassy commented on #60
That would be great. The place to start is [runner.js#330](https://github.com/shoreditch-ops/artillery-core/blob/master/lib/runner.js#L330). That's where a random row is being picked from each payload file (there can be more than one) - so we'd just need to keep an index per payload.

To control the behavior, I suggest we add an option to payload definitons:

[code]

Then inside `createContext` wh

[2016-03-01 07:14] markgandy commented on #60
@hassy see this commit (https://github.com/markgandy/artillery-core/commit/21bcdefc18af011e54b8699be68ce74ed846e6a3) hopefully this is ok. Just trying to figure out how to test the sequencing then will open pull request. Let me know if you have any tips..

[2016-03-01 13:35] hassy commented on #60
That looks good. For testing, I'm thinking we should extract the logic into its own function that can be tested in isolation, e.g. define something like:

[code]

And then create a "reader" for each payload that specifies `order = 'iterate'` and call it in `createContext`.

Another though - `iterate` perhaps isn't a great name, maybe we should go with something like `sequence`?  open to suggestion

[2016-03-01 13:36] hassy commented on #60
Picking elements at random will need to be extracted into its own function too - I can do that, or if you don't mind you can make that part of your PR.

[2016-03-02 03:19] markgandy commented on #60
Nice idea for creating readers @hassy. It does look cleaner.  I've opened a PR here - https://github.com/shoreditch-ops/artillery-core/pull/42

[2016-03-02 22:36] rzio opened #61 "On windows quick mode fails if c:\tmp folder doesn't exists"
I've edited the call stack a bit to remove personal info

[code]

[2016-03-02 23:05] markgandy commented on #60
@hassy thanks for merging - when will new version with this change get published to npm?

[2016-03-02 23:15] hassy commented on #60
@markgandy Just published `artillery@1.3.7`. Thanks for the PR!

[2016-03-02 23:17] hassy commented on #61
Thanks for reporting this bug. The fix would be to use the [`tmp`](https://www.npmjs.com/package/tmp) package instead of hardcoding `/tmp` if you want to take a stab at it. :) Otherwise, I'll patch it soon.

[2016-03-02 23:38] markgandy commented on #60
Thanks - it's working nicely!

[2016-03-03 08:14] #60 closed

[2016-03-03 11:35] hassy commented on #61
Fixed in `artillery 1.3.8`, thanks for reporting the bug @rzio

[2016-03-03 11:35] #61 closed

[2016-03-03 17:27] jamesvandyne opened #63 "Request and Response Should Print in Pairs"
Run a test with DEBUG=http,http:response together.

Results: We print a list of requests and then a list of responses.

Expected Behavior: We should print the request and subsequent response together so it's easier to match up our response to our request .

[2016-03-03 19:45] hassy commented on #63
@jamesvandyne Thanks! :+1:

If you want to take a stab at it, the place to fix it is `engine_http.js`:
1. [103](https://github.com/shoreditch-ops/artillery-core/blob/master/lib/engine_http.js#L103)
2. [114-115](https://github.com/shoreditch-ops/artillery-core/blob/master/lib/engine_http.js#L114-L115)

(Perhaps formatted with `JSON.stringify` to make the output easier to read.)

[2016-03-07 15:48] jamesvandyne commented on #63
Added with pull request #[43](https://github.com/shoreditch-ops/artillery-core/pull/43) in artillery core

[2016-03-07 15:48] #63 closed

[2016-03-16 13:54] antony opened #64 "environment target URL is never used"
As discussed on gitter, environment specific target urls are not picked up.

For example:
[code]

Then running with '-e perf' results in all requests actually being prefixed with: ```xyz``` rather than the environment's URL.

Leaving the config.target element out entirely results in the url being prefixed with ```undefined```

Expected behaviour is that the URL /v1/user would become ```http://my-a

[2016-03-16 14:24] antony opened #65 "Write html report to file, don't open. For CI"
Something that I want to do is just make the html file available for downloading from my CI environment, and not try to open it in a browser.

Opening the browser means my build never ends, and fails.

I propose passing -o/--output to the report command, as with the run command, and if specified, output to  a file and don't try to open the report.

[2016-03-16 15:26] antony opened #67 "-o / --output on 'quick' command doesn't do anything"
-o option can be passed in in quick mode, but is never referenced (and therefore never used).

[2016-03-16 15:34] #65 closed

[2016-03-16 15:52] hassy commented on #64
Fix incoming.

[2016-03-16 15:54] #67 closed

[2016-03-16 16:01] hassy opened #69 "Re-add test coverage reports"
A few rather embarrassing bugs have been shipped in the last couple of months which could have been avoided with more rigorous testing. Test coverage used to be at 90%+ but it isn't anymore.

To help prevent shipping more bugs in the future we should:
- [ ] Enable test coverage reports
- [ ] Fail builds if coverage is <80%

[2016-03-16 16:41] #64 closed

[2016-03-16 17:13] hassy commented on #64
@antony published `v1.3.9` with a fix (+ the fixes you contributed)

[2016-03-16 21:57] hassy opened #71 "`capture` should support regexps"
It would be useful to have some support for using regular expressions instead of JSONPath or XPath to parsing and capturing responses, for situations where the response body is neither JSON nor XML.

[2016-03-17 10:28] #71 closed

[2016-03-22 21:44] antony opened #72 "CSVs don't appear to work"
I realise there is a test for this that seems to pass, but given my CSV:

[code]

and my config block:

[code]

My request is:

[code]

I'm having no luck at all - unfortunately I can't see a way to get good debug information about the requests i'm sending (http:request would be nice) but my API is telling me that 'registration' is blank each time, and if I hardcode it, the next entry is blank, an

[2016-03-23 09:21] hassy commented on #72
Thanks for the bug report! This is a known bug, for now the workaround is to wrap the payload definition in an array like this:

[code]

[2016-03-23 09:24] hassy commented on #72
This is the offending line btw if you want to take a stab at it:

https://github.com/shoreditch-ops/artillery/blob/master/lib/commands/run.js#L105-L107

`options.payload` is the path to the payload file passed in via the `-p` flag. The code needs to take into account that `options.payload` might be undefined but the payload definition may have the `"path"` attribute set.

[2016-03-23 15:55] antony commented on #72
Ah - I'll try this, thanks.

I've actually had an idea for the CSV functionality, but I'll raise it in another issue to discuss.

[2016-03-23 16:01] antony opened #73 "Support something like chancejs for dynamic data generation"
In our unit and integration tests, we use http://chancejs.com a lot, for reasons of variation testing, data realism, and general amusement.

I'd like to see the same sort of support in Artillery so that we can do something like

[code]

The format of the chance inserts is undetermined, can't immediately think of a nice way to do it.

Right now I'm using mockaroo (some website I found which generat

[2016-03-23 20:33] hassy commented on #73
This is a good idea, will need to have a think about the best way to integrate it nicely.

[2016-04-01 08:32] hassy commented on #54
The CLI switches can be the same as in [Dino](https://github.com/hassy/artillery-dino)

[2016-04-13 16:12] Nepoxx opened #79 "Numbers are amazingly off"
With artillery, this is what I get from a simple GET scenario to my API:

[code]

Using [loadtest](https://www.npmjs.com/package/loadtest), this is what I get for the same exact API (and from the same dev box)

[code]

Not only is my RPS higher, my latency/response time is MUCH MUCH lower. What's going on?

[Here is my Artillery yaml file, for reference](https://gist.github.com/Nepoxx/baab3b2c0911

[2016-04-13 17:02] hassy commented on #79
You're not testing the same thing. :)

With loadtest, you're creating 50 TCP connections, then sending N requests on each of those connections.

With Artillery, you're creating 5 new TCP connections every second in the warm up phase, and only send 1 request on each of them. TCP connections are expensive.

[2016-04-13 17:07] Nepoxx commented on #79
Ah, that makes a lot of sense. Thank you for the clarification!

[2016-04-13 17:07] #79 closed

[2016-04-13 17:09] hassy commented on #79
No worries. btw you can use `loop` to run through a sequence of steps a number of times (reusing the connection).

[2016-04-16 14:40] ashwanikumar04 opened #80 "Need help in understanding the output"
Hello:

I am trying to user Artillery to load test my node application. I am running Artillery on my development machine hence can see the logs which are generated when even any api call is made from other application.

This is output which I get from after running artillery on my app
[code]
Clearly there are Huge number of ETIMEDOUT and ECONNREFUESED count. While in the log I do not see any error

[2016-04-16 15:05] hassy commented on #80
These are OS level errors (sockets connections timing out) which you wouldn't see in your application logs.

You're opening *a lot* of TCP connections (every arrival is a separate TCP connection) and may be running out of file descriptors. I'd start by increasing the limit - this depends on the OS, on Linux you'd use a combination of `ulimit` and settings in `/etc/sysctl.conf`. `netstat` is also u

[2016-04-16 15:18] ashwanikumar04 commented on #80
Thanks,
How to do this on windows. I am on windows for development.

[2016-04-16 15:19] hassy commented on #80
I don't know.

[2016-04-16 15:19] #80 closed

[2016-04-20 14:32] vineyugave commented on #59
@hassy   How do we point to the custom HTTP engine ?

[2016-04-20 15:26] hassy commented on #59
Not sure what you mean @vineyugave. If you want to use a custom engine, you need to set the `engine` field of your script to the $name of the engine, and have `artillery-engine-$name` available to `require`.

[2016-04-20 15:29] vineyugave commented on #59
@hassy I just wanted to know how you overcame this issue where it gives "UNABLE_TO_VERIFY_LEAF_SIGNATURE: 49" error...

[2016-04-20 15:35] hassy commented on #59
@vineyugave you can use `-k` flag to turn off certificate validation, like so: `artillery run -k myscript.json`

[2016-04-20 15:39] vineyugave commented on #59
@hassy thanks a ton.. that saved my day ...

[2016-04-27 08:44] hassy opened #81 "Multicore support"
For maximum performance Artillery should take advantage of every CPU available. 🔥 🔥

[2016-04-29 05:55] venkatesh-tr opened #82 "Is there a way to capture the response headers (like ones used for Authentication)"
I am using a header to pass on JWT token which is used for authenticating/authorizing the application user. When user authenticates first providing his credentials, he will get a JWT token created and sent using a header to client. This header has to be captured and stored as a variable.

This token has to be sent to server on subsequent requests. As per my understanding looking at the code, this

[2016-04-29 08:01] hassy commented on #82
Hi @venkatesh-tr, you should be able to use the `afterResponse` hook. The function that's called takes 4 arguments, the third of which is the context for that virtual user.

The `context` parameter has a `vars` attribute, which is an object where keys are the names of the variables and the values are their values.

So you'd do something like:

[code]

And then use `authToken` in subsequent request

[2016-05-02 07:25] venkatesh-tr commented on #82
I guessed it correctly then... But how can I configure this function using json config file that I am creating?

Is there any tests/samples which can illustrate this?

[2016-05-02 08:52] venkatesh-tr commented on #82
I got it by looking at the code: I have to pass the processor as a config parameter which is a script name which can be loaded with respect to current script directory.

It is working fine. Thanks..

[2016-05-02 16:18] #82 closed

[2016-05-04 14:30] KITSJoseNogueira opened #84 "order: sequence is not working for variables"
At the moment it only works for the payload, and should be helpful if working with variables as well.

Thank you

[2016-05-05 13:20] hassy commented on #84
Thanks for the report 👍  Should be an easy fix.

[2016-05-09 12:50] venkatesh-tr commented on #82
Even though it is working fine as of now using afterResponse, I wish to see this as a feature with documentation soon. I like this framework now and using it rigorously. So let me know if I can contribute some documentation about this afterResponse parameter.

[2016-05-09 13:20] venkatesh-tr opened #85 "should have better failure capturing mechanisms"
Load testing is about loading the system with certain load to check whether APIs sustain the load. If certain requests are failing (as in my case - 519 requests fail out of 16K requests made in 5mins), the cause of these errors (log says server responded response code 500).

In such a case, it would be very difficult to debug the problem from the json currently gets created. I feel we need to capt

[2016-05-10 17:03] hassy commented on #85
When a server returns an error under high load, the cause is very unlikely to have to do with the particular request that was sent. The response is also highly unlikely to contain any useful debugging information (e.g. production 500 responses won't have anything like a stacktrace). This is not something that Artillery can really help with - instead you should have detailed logging and monitoring

[2016-05-10 17:08] hassy commented on #82
@venkatesh-tr glad to hear it's working well for you! 👍 It's still too early to document this feature - it's not even comprehensive yet (e.g. no `preRequest` hook implementation, no support at all in the WebSocket engine). It **will not** be removed, so you don't need to worry about relying on it, however the interface might change slightly to make it easier to use and more versatile, but not in a

[2016-05-13 04:27] agalpin opened #87 "Multiple Random Number Values causes error"
Entering in to a get url's query string ?version={{{$randomNumber(0,2)}}}.{{{$randomNumber(1,20)}}}.{{{$randomNumber(1,9999)}}} throws a syntax error complaining about too many }.

This appears to be unsupported?

Also there appears to be no support for random entries in variables?

[2016-05-13 04:31] agalpin opened #88 "Scraping of console debug output doesn't seem to be supported"
I was attempting to save the DEBUG=http:response info into a file to be presented along with the results i have tried piping, redirecting but couldn't get it working.

There also doesn't appear to be an option for outputting these to a file.

Could you add support to allow piping or an option?

[2016-05-13 15:03] adrianocola opened #90 "HTTP Agent keepAlive option should be active for each request?"
I'm trying to run a quick test with 100 virtual users for 60 seconds against a simple node-express server that returns a simple hardcoded json. But the express server hangs and stops accepting new connections. When using other request generators (like apache ab) I can make more than 500 requests per second against this server, but with artillery I can't reach 100.

I noticed some ECONNRESET and EM

[2016-05-14 04:59] Dillybob92 opened #91 "What does p95 and p99 mean?"
[code]

What exactly does p95 and p99 represent, and does RPS mean Requests Per Second? Just curious, thanks!

Edit: Btw, this is a websocket server. I'm trying to get the number of messages sent per second

[2016-05-14 12:07] hassy commented on #91
@Dillybob92 RPS is requests per second (but with WS it means a message).

p95 is the 95th percentile latency, i.e. for 95 percent of virtual users in your report, the latency was 0.5ms or lower.

[2016-05-14 12:09] hassy commented on #90
@adrianocola Yep, you're right, Artillery creates a socket for every virtual user by default to simulate real-world behavior, whereas `ab` opens a fixed number of connections.

The next release of Artillery will add extra flags to `quick` to allow a fixed number of connections and to allow specifying the number of requests to be sent on each connection (like in `ab`):

See here for more: https://g

[2016-05-14 12:10] #29 closed

[2016-05-14 12:11] hassy commented on #87
Sounds like a bug, thanks for the report!

[2016-05-14 12:17] hassy commented on #88
@agalpin You can make it work with: `DEBUG_FD=1 DEBUG=http:response artillery run myscript.yml > log.txt`

(This needs to be documented!)

[2016-05-14 15:34] Dillybob92 commented on #91
@hassy Ohh I see. You got the Maths down then! I suck at Math, haha. Thanks for the response, love this module!!

[2016-05-14 15:34] #91 closed

[2016-05-17 13:11] hassy opened #92 "HTTP: Report stats per endpoint"
It can be very useful to see latency reported separately for different endpoints, for example many tests will have auth calls in them before calling other endpoints/services the metrics for which the user is really interested in.

[2016-05-17 13:15] hassy opened #93 "Accept variables from the command-line"
In many situations it would be useful to adjust some of the values in the `config` section from the command line (e.g. the target, or the load phases).

[2016-05-18 08:18] jamesfiltness opened #94 "Regexp capture does not work with capturing groups"
When using the regexp capture with a regex that has a capturing group the captured match is not returned:

[code]
Above, the string ("<input name=\"someinput\" type=\"text\" value=...") is returned as the only match, when what I really want is the match from the capturing group.

In **engine_http.js** the first match from the regex is always returned, which is the matched string itself:

[code]

m

[2016-05-18 14:42] hassy commented on #94
Yes 👍  A PR would be awesome (patch `engine_http.js` + a simple test case), with `group` instead of `regexpResult` perhaps. :)

[2016-05-18 14:43] hassy commented on #90
@adrianocola gonna close this for now - but if you have any comments or questions feel free to post here or on the [gitter channel](https://gitter.im/shoreditch-ops/artillery)

[2016-05-18 14:43] #90 closed

[2016-05-18 14:45] hassy opened #95 "Docs: document debug mode"
- Document various `DEBUG` options
- Document how debug output can be saved to a file (https://github.com/shoreditch-ops/artillery/issues/88)
- Document how to enable it on Windows (e.g. `set DEBUG=http` and then `artillery run ...`)

[2016-05-18 14:45] hassy commented on #88
Created https://github.com/shoreditch-ops/artillery/issues/95 - closing this for now.

[2016-05-18 14:45] #88 closed

[2016-05-18 19:47] jamesfiltness opened #96 "Regexp capture does not accept an array"
It is only possible to pass a single object to capture. It would be nice if you could pass an array of objects to capture and have them all run, i.e.:

[code]

[2016-05-18 19:56] jamesfiltness opened #97 "Payload does not work well with large csv files"
I'm trying to use Artillery with a large csv file. I've noticed that it hangs when it tries to parse the csv file. Perhaps streaming the contents of the file would be preferable over using `readFileSync`?

[2016-05-18 21:45] hassy commented on #97
How large is the CSV file?

[2016-05-18 21:46] hassy commented on #96
Good idea 👍

[2016-05-19 07:20] jamesfiltness commented on #97
400,000 rows!

[2016-05-19 17:37] hassy commented on #94
Added in https://github.com/shoreditch-ops/artillery-core/pull/51

[2016-05-19 17:37] #94 closed

[2016-05-19 19:20] hassy commented on #97
@jamesfiltness That is indeed a large CSV file! The fix is not as straightforward as replacing `readFileSync` with streaming unfortunately, `artillery-core` expects for the whole dataset to be in memory (it does not read the CSV files itself). Will need to have a think about this. In the meantime, do you need all of that data for your tests? Would something like https://github.com/shoreditch-ops/a

[2016-05-19 19:50] hassy opened #98 "Artillery in quick mode targeting a non-existent WS endpoint never exits"
Reported by a user on Gitter

[2016-05-20 11:22] hassy opened #99 "Core: get rid of module-level variables"
See https://github.com/shoreditch-ops/artillery-core/blob/master/lib/runner.js#L33

[2016-05-20 20:10] jamesfiltness commented on #97
We need the data as it is in the CSV to reliably test our scenarios so chancejs isn't an option unfortunately.

[2016-05-21 00:27] enderv commented on #93
Easiest idea I have is a command line option where you pass in variable names and values. That option will cause the config to be preloaded as a string, sub the values, and then convert to an object to be passed in?

For example:
`--replace "foo=bar,test=thatThing"`

`
{
  "config": {
      "target": "http://127.0.0.1:3003",
      "phases": [
        {"duration": 10, "arrivalRate": 1}
      ]
  },

[2016-05-25 06:06] KiarashS opened #101 "Response Time and Throughput"
Dear,

Very thanks for artillery.
How we can access **Average Response Time** and **Throughput** in artillery?

Thanks in advance.

[2016-05-25 08:51] hassy commented on #101
@KiarashS In Artillery's report throughput is RPS (requests per second), average response time is not reported (it's useless) but the closest to that is median latency.

[2016-05-25 11:58] KiarashS commented on #101
How i can access Throughput in MB/s?

[2016-05-25 13:22] hassy opened #102 "Report bandwidth stats"

[2016-05-25 13:22] hassy commented on #101
That's not reported yet, created https://github.com/shoreditch-ops/artillery/issues/102

[2016-05-25 13:22] #101 closed

[2016-05-25 14:42] ksplache commented on #15
Our team is also looking for socket.io support.  I'm up for adding it.  As far as I can tell, I should be adding it as a new engine in the artillery-core repo.  I'll fork that repo and give it a shot.

[2016-05-25 15:36] hassy commented on #15
@ksplache Awesome! Copying and modifying the websocket engine would a good place to start. If you have any questions feel free to message me [on Gitter](https://gitter.im/shoreditch-ops/artillery) or drop me a line on github@veldstra.org

[2016-05-25 18:42] ksplache commented on #15
@hassy It was not too bad to add the socket.io engine once I understood the artillery core framework a bit.  I submitted a pull request to the artillery-core repo.  I added unit tests & target servers for socket.io with http and with express.

[2016-05-25 21:00] hassy commented on #15
@ksplache Great! :) I presume this does everything you need to test your app?

I've published `v1.5.0-0` - https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-0

[2016-05-25 21:00] #15 closed

[2016-05-25 21:01] hassy opened #103 "Docs: document the new socket.io engine"
We have a socket.io engine now thanks to @ksplache and now it needs to be documented.

[2016-05-25 21:46] ksplache commented on #103
Here is the short version of the docs:
The engine is ```socketio```
The ```emit``` command takes an object as its parameter:
+ emit
  + channel – the name of the socket.io channel to emit to
  + data – the data to emit
  + response – optional object if you want to wait for a response
    + channel – the name of the channel where the response is received
    + data – the data to verify is in the re

[2016-05-25 21:49] ksplache commented on #103
Also, you can combine ```http``` and ```socketio``` requests in the artillery JSON file when a server supports both.  This is common when using express.

[code]

[2016-05-26 08:56] hassy commented on #103
This is great, thanks @ksplache!

[2016-05-27 04:14] CharlesJu1 commented on #103
This is great. But I am having a problem using it. The nodejs server does not get socketio connection. The wireshark capture shows socketio is setup using both polling and websocket. However, in the polling, the connection header is set to "close". When I test the socket io with chrome client, the connection header is set to "keep alive". On the nodejs server side, I log a message when there is so

[2016-05-27 08:16] hassy commented on #103
@CharlesJu1 no time to look into right now, but have you tried `v1.5.0-1`?

https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-1

[2016-05-27 14:32] ksplache commented on #103
@CharlesJu1 can you post a code snippet of your nodejs code that is listening on socket.io?

There are example nodejs servers here:
https://github.com/shoreditch-ops/artillery-core/blob/master/test/targets/simple_socketio.js
https://github.com/shoreditch-ops/artillery-core/blob/master/test/targets/express_socketio.js

With the corresponding artillery files here:
https://github.com/shoreditch-ops/a

[2016-05-27 14:34] hassy commented on #69
https://codecov.io looks nice

[2016-05-27 14:47] mikefeher-waitr commented on #69
How do you feel about a build tool like [Grunt](http://gruntjs.com/)? They have a few good enforcers out in the wild. [grunt-code-coverage-enforcer](https://github.com/tapasvimoturu/grunt-code-coverage-enforcer) [grunt-codecov.io](https://github.com/r3b/grunt-codecov.io). I also like throwing [Code Climate](https://codeclimate.com) into the mix for static analysis but it doesn't support the fancy

[2016-05-27 14:52] hassy commented on #69
Don't need Grunt for this, Istanbul already produces coverage reports - we just need to be able to send them off somewhere like codecov.io to be able to display coverage stats continuously.

We should consider Code Climate too 👍

[2016-05-27 15:40] mikefeher-waitr commented on #69
@hassy Looks like there is something going on with the tests for latest [build 104](https://travis-ci.org/shoreditch-ops/artillery) from PR #104 and I'm getting the same error locally. Not familiar enough with Bats to dive into it at the moment. I'll throw in a coverage checker once we get a green build

[2016-05-28 22:12] hassy commented on #69
@mikefeher-waitr looks like an issue with line endings, I'll take a look

[2016-05-31 15:39] #72 closed

[2016-06-01 13:31] hassy commented on #69
@mikefeher-waitr that's been fixed now

[2016-06-01 14:21] mikefeher-waitr commented on #69
@hassy Thanks! I'll see if I can get that patched at lunch. Cheers! :beers:

[2016-06-01 21:08] hassy opened #106 "HTTP: file uploads"
It would be nice to have better support for file uploads.

At the moment, the contents of the file to be uploaded needs to be embedded directly into the Artillery script. It should be possible to reference external files to be read at runtime.

[2016-06-02 22:04] nvartolomei opened #107 "Is there a way to test server sent events streams?"
Now just sending get requests, but actually waiting for data.

[2016-06-03 08:37] hassy commented on #107
@nvartolomei Not yet, but it's on a wishlist. What sort of functionality would you need for your use-case?

[2016-06-03 13:38] nvartolomei commented on #107
I'm not very familiar with artillery, neither with SSE.
But from my perspective the only thing that needs to be tested is amount of open connects that server can handle at the same time.
Maybe somehow to also test the throughput by implementing some specific code server side for event stream?

https://github.com/matthiasn/sse-perf

[2016-06-03 21:05] hassy opened #108 "HTTP: sockets should be destroyed explicitly"
Here: https://github.com/shoreditch-ops/artillery-core/blob/master/lib/engine_http.js#L291 should include:

[code]

Otherwise we're relying on the server to terminate the connection and with some servers configured with high timeouts, their fds will be exhausted very quickly.

(e.g. `net/http` in Golang seem to have a 90s default timeout - https://github.com/golang/go/blob/master/src/net/http/tran

[2016-06-04 00:54] enderv commented on #93
And thinking this over some more realized why not just use a json object in the commandline with the values to replace. No idea if this will actually work but it would make it alot easier. Also realized I was using the same marker as the variables so maybe something like `{% name %}`

`--replace "{foo:"bar",test:"thatThing"}  `

 `{ "config": { "target": "http://127.0.0.1:3003", "phases": [ {"dura

[2016-06-04 09:33] hassy commented on #108
Fixed in https://github.com/shoreditch-ops/artillery-core/pull/61

[2016-06-04 09:33] #108 closed

[2016-06-05 20:14] rozhok opened #111 "Failed to run simple scenario"
Versions:
[code]
Scenario:
[code]
Running
[code]
Got
[code]

[2016-06-06 12:36] hassy commented on #111
`headers` should've been an object, not an array - resolved on Gitter :)

[2016-06-06 12:36] #111 closed

[2016-06-07 17:14] skxu opened #112 "Websocket "send" does not replace inline variables"
Example:

[code]

This will send {"zip": "{{ zipCode }}"}

[2016-06-08 02:34] CharlesJu1 commented on #103
v1.5.0-4  works.

[2016-06-11 19:23] neslinesli93 opened #113 "Crash with ETIMEOUT and ESOCKETTIMEDOUT"
I'm doing some tests with a low end VPS (1GB ram, 1 cpu core) as a client, and with a 4GB, 2 cpu as a server. With this configuration artillery crashes a little bit after starting Phase 2:
[code]

What is the issue here? Artillery suddenly stops with a `/Killed` message.

**Update**
Sometimes I am faced with this stack trace
[code]

[2016-06-13 07:54] hassy commented on #113
`/Killed` is coming from the OOM killer I presume, i.e. the OS runs out of RAM and starts killing processes.

The arrival rates are way too high too - an arrival rate of 500 means 500 new TCP connections *per second*. That's really expensive on system resources and you will run out of file descriptors on the server very very quickly too.

[2016-06-13 07:55] hassy commented on #113
The exception is a valid bug though (but one that would only manifest under conditions like in this case).

[2016-06-14 20:17] #99 closed

[2016-06-16 19:47] #113 closed

[2016-06-16 19:55] hassy opened #114 "Improve validation of test scripts"
Right now if the schema of a test script is wrong, Artillery will often just fail, e.g. https://github.com/shoreditch-ops/artillery/issues/111

We should validate the scripts and provide helpful error messages whenever possible.

This can be implemented gradually with something like [Joi](https://github.com/hapijs/joi).

[2016-06-21 17:17] hostiphur opened #116 "Error: Cannot assign to read only property 'headers' of /test"
I'm trying to follow along with the documentation and I added some default headers:

[code]

...

When I try to run the test I get the following error:

/usr/local/lib/node_modules/artillery/node_modules/artillery-core/lib/engine_http.js:78
    requestParams.headers = _.extend(defaultHeaders,
                          ^

TypeError: Cannot assign to read only property 'headers' of /test
    at f (/

[2016-06-21 17:28] hostiphur commented on #116
nevermind, I fixed it by putting the headers in the scenario like below. However, I'm still not sure why using the headers under defaults wouldn't work.

    "scenarios": [
        {
            "name": "test 1",
            "flow": [
                {
                    "post": {
                        "url": "/test",
                        "headers": {
                            "x-container

[2016-06-22 07:28] hassy commented on #116
Reopening since it looks like it could be a bug - will need to investigate.

Thanks @hostiphur

[2016-06-23 15:45] tonymcbeth opened #117 "Incorrect report name when using --output switch"
When running the following CLI command

`artillery run --output results.json`

I get the output filename 'Log file: r444u6/23/2016t44.j44on'. This works fine when using the shorthand -o switch

[2016-06-23 16:43] hassy commented on #117
Thanks for the report @tonymcbeth, can confirm it's a bug

[2016-06-24 07:05] pennylliang opened #118 "can we add 'url' property to socket.io request?"
Our server support both `http` and `socketio`, but their base url is not the same, for example:

For `http`: target is `http://localhost:3000`
[code]

For `socket.io`: target is `http://localhost:3000/passenger`
[code]

I want to have `http` and `socket.io` in the same JSON, but I can not do that because in `socket.io` case, I can not specify the url.
Is that possible to add a 'url' property in `s

[2016-06-24 09:01] hassy commented on #118
👍  good suggestion. My preference would be for the base URL to be set with `config.socketio.baseUrl` to keep it tidier.

[2016-06-24 11:35] morrislaptop opened #119 "Does this support WSS?"

[2016-06-24 13:15] hassy commented on #119
Yes ([ws](https://github.com/websockets/ws) is used under the hood)

[2016-06-24 13:15] #119 closed

[2016-06-24 16:18] morrislaptop commented on #119
Does it work with SockJS, I can't get this to work? :(

[2016-06-24 16:39] hassy commented on #119
It should but you have to connect directly to the WebSocket endpoint, and also IIRC SockJS has its own protocol on top of WebSockets, so you can't just send messages like with a plain WS connection.

[2016-06-27 06:51] almircajic commented on #103
Hi @ksplache

Im using latest version 1.5.0-8 and connecting and emitting messages all seem to work great - even in combination with url posts and gets. Great work indeed!

However, with engine set as socketio, I'm getting error if I use functions such as randomNumber or randomString. Both work as expected if I change the engine to default (and remove any emits of course).

The error is thrown in

[2016-06-27 16:30] ksplache commented on #103
I'll take a look at it.  The socketio engine template processing likely needs to be updated to handle those keywords / functions.

[2016-06-27 22:20] ksplache commented on #103
I've fixed the issue and submitted an MR.
https://github.com/shoreditch-ops/artillery-core/pull/72

[2016-06-28 02:00] almircajic commented on #103
Hi @ksplache

New patch works great! Thanks so much for this super-fast fix. Both, $randomString and $randomNumber functions can now be used with socketio engine.

[2016-06-29 20:36] hassy commented on #103
@ksplache @almircajic Just published `v1.5.0-10` with the fix ✨

[2016-07-04 14:19] kwijibo opened #121 "socket.io callbacks"
When I use the socket.io engine, my socket.io server expects a callback to return data through, and crashes when Artillery is run (because Artillery does not provide a callback). I don't need to provide a custom callback, I just need Artillery to:

1. provide a callback so the server doesn't crash
2. measure the time taken to get a response via the callback

[2016-07-07 09:16] philjones88 opened #122 "NTLM support"
Hi,

Would be great to have NTLM support, I see a few node libraries like request-ntlm and httpntlm that already support this.

Many thanks,

Phil

[2016-07-07 09:45] hassy commented on #122
Looks like it should be pretty straightforward with the `request-ntlm` module. 👍

@philjones88 happy to point you in the right direction if you don't want to wait and fancy giving it a go yourself. :)

[2016-07-07 20:44] jdarling opened #123 "Support getting headers from csv"
Generally when I setup a CSV the first row is the column headers.  How about an option to use the first row as the fields map?  Or an option to ignore the first row in the CSV input file?

[2016-07-07 20:47] jdarling commented on #123
Also it would be great to have some type of comment line.  So you can do things like mark users types in blocks.

[2016-07-08 08:05] hassy commented on #123
Good idea on the CSV headers @jdarling.

With comment lines - do you mean comments inside the CSV file? If so, you could add a comment column for that (and not use it in the script)?

[2016-07-08 13:41] lalarsson opened #124 "How do I send JSON in WS message?"
As written in title.

[2016-07-08 14:47] hassy commented on #124
@lalarsson something like this?

[code]

[2016-07-08 19:06] jdarling commented on #123
Not sure...  So for us we have multiple user account types; instructor, validated-instructor, student, etc...  I'd like to keep them separate (for management) yet run them all at the same time.  One thought would be to use multiple CSV files, the other would be to have some type of comment line that could be set in the CSV.  Maybe something like if the line begins with # it gets ignored.

Actually

[2016-07-08 19:24] jdarling opened #125 "A way to call JavaScript from the page or interact with an element?"
Is their any way in Artillery to interact with the page(s)?  Such as click a log out link or execute the logout method of some global object?

We don't currently have a logout route that we can call currently so would like to just call the logout handler.

[2016-07-08 19:57] jdarling opened #126 "Docker"
One more idea, how about a containerized version that would allow you to spin up workers in Docker?

I've been doing a lot of work in Docker and Kubernetes lately and will probably be doing this for my own use anyways.  If I get it easy to use do you want it?

[2016-07-08 19:58] jdarling commented on #123
Looking at the code I figured out I can put my data into multiple files and make payload an array.  This worked well for the global data.

[2016-07-10 12:32] hassy commented on #125
No, Artillery's HTTP engine only does HTTP - it doesn't evaluate the HTML or run in-page JS.

It should be possible to write a PhantomJS-based engine that would make Artillery act like a browser, but it's not on the roadmap yet. As always, PRs would be very gladly received though!

[2016-07-10 12:32] #125 closed

[2016-07-10 12:35] hassy commented on #126
It's easy enough to run Artillery in a Docker container already. By spinning up workers do you mean running multiple instances of Artillery to run distributed tests? Doing distribution right (spliting up the work among workers evenly, aggregating and merging stats correctly etc) needs to be done in Artillery itself - neither Docker not Kubernetes can provide that for free as far as I can see. I'd

[2016-07-10 12:35] #126 closed

[2016-07-10 13:07] hassy opened #127 "Better visibility into running scenarios and better debugging facilities"
A virtual user / request tracing feature would be useful to be able to have real-time visibility into what (a subset of) virtual users are doing - requests being sent, responses that come back etc.

This would make it easier to both write new scripts and to figure out why a particular scenario isn't working anymore.

- https://github.com/shoreditch-ops/artillery/issues/95
- https://github.com/shor

[2016-07-10 13:29] Soarez commented on #122
Alternatively, [node-ntlm](https://github.com/tcr/node-ntlm) is also an option, and seems to have tests.

[2016-07-10 14:09] Soarez opened #128 "Code coverage is broken"
[code]

[2016-07-11 05:56] markgandy opened #130 "Memory issue for longer tests"
We are seeing an issue with artillery running out of memory for longer tests - memory gradually increases until it hits limit, then CPU spikes and the test crashes. I don't know if there is a memory leak somewhere - we are running tests up to around 30 requests per second. Artillery is running in a docker container (with 1GB of memory allocated) on a t2.small in AWS.

Config has multiple phases:

[2016-07-11 06:22] danielmihai commented on #124
Did this work?
I'm going to test JSON-RPC over WebSockets. I'm going to try this and come back with a response myself.

[2016-07-11 06:27] danielmihai commented on #73
Hi,

Before you integrate a third-party random content generator, i propose we use the loop clause for generating random variables in the payload section.

I propose enabling at least a loop clause in conjuction with a random clause. I want to extend the functionality of the payload clause.

how can we propose, make a user story, contribute and release new features ?

Thanks,
Daniel.

[2016-07-11 07:26] danielmihai opened #131 "[Feature Request] Pre-test script runner"
Hi,

Following #73 , to generate random data for test input, I wrote a script to generate a csv with
random data for my tests.

I want to include a option in the artillery test, for a pre-script runner, with validation option (error, success).

I want to run my script to generate new data before running the test, so I can provide the/a new payload (with new generated content) file to the test.

Is

[2016-07-11 07:28] danielmihai opened #132 "[Feature Request] JSON payload file format"
Hi,

Following #73 , I would like to propose support for JSON file format on the payload clause.

Thanks,
Daniel.

[2016-07-11 09:11] hassy commented on #130
Very interesting and will hopefully be easy to reproduce if the scenario is that simple.

Are you using CSV payloads to make requests or is it always the same request? If you are, how large is the file (# of rows and columns and size in bytes)?

What sort of a response does the server send? (content type, content length)

Thanks @markgandy , I will try to reproduce!

[2016-07-11 09:39] hassy commented on #131
Not yet. Any reason you wouldn't run the Node.js script before running Artillery? (in your shell script / Makefile)

[2016-07-11 09:40] hassy commented on #132
What would the format of the JSON be? A list of objects?

[2016-07-11 09:41] #128 closed

[2016-07-11 12:26] danielmihai commented on #95
Can you post a complete example of running an artillery test in debug mode, please ?

[2016-07-11 13:10] hassy commented on #95
@danielmihai For HTTP: `DEBUG=http* artillery run myscript.json`

[2016-07-11 14:55] danielmihai commented on #95
OK, worked. I had an error in the yml file that wasn't outputted as an error. it was in the flow section.
More error info would be nice ;)

Thanks!

[2016-07-11 15:18] danielmihai commented on #132
Hi @hassy ,

Yes, it could be a list of objects :)
And every key in the object can be a list, object or value.

Tell me if you want support for implementing this.

Respectfully yours,
Daniel M. Colceag.

[2016-07-11 15:21] philjones88 commented on #122
I wrote a simple script with `node-ntlm` and it seems straightforward.

My employer sponsors OSS projects and new features, if it's of interest we would be willing to pay for this feature to be implemented.

[2016-07-11 15:22] danielmihai opened #133 "[Feature Request] Response Header Parser"
Hi @hassy ,

It would be nice to have a response headers parser and variable creator as you do on the response body, to include/pass on to other requests in the flow. Do you think this can be done ?

I offer you my help, if you don't have time to implement and integrate this change.

Thank you,
Daniel M. Colceag.

[2016-07-11 20:46] hassy commented on #133
It's already possible to capture response headers with something like:

[code]

Going to document it now! :)

[2016-07-11 20:46] #133 closed

[2016-07-11 23:46] markgandy commented on #130
Yeah, sorry forgot to mention @hassy we are using a CSV payload. It is 50 lines and just has a single UUID per line.

This is a typical response from the server (Content-Type is application/json):

[code]

[2016-07-12 09:19] hassy commented on #130
Thanks @markgandy, looks like it should be pretty straightforward to reproduce.

[2016-07-12 13:40] hassy commented on #122
@philjones88 We don't really have the framework in place to sponsor feature requests at the moment. There might be other options - drop me a line on [h@artillery.io](mailto:h@artillery.io) to discuss.

[2016-07-13 15:40] DannyCork commented on #51
current is 1.4.1.
Wondering if these changes were merged ?

[2016-07-13 16:05] hassy commented on #51
Not yet, still a work in progress.

[2016-07-13 18:29] danielo515 opened #134 "Wrong post example"
Hello, the following example on the payloads section seems to be wront:

[code]

If I don't include a flow array it fails. I would like to use that syntax for the sake of simplicity. Is it a bad example or I'm doing something wrong?

[2016-07-13 18:54] hassy commented on #134
You're right @danielo515 , that example is wrong, sorry!

[2016-07-14 10:05] danielo515 opened #135 "report output should be configurable on script and as a global configuration"
It is a bit tedious to write a shell script just to test the different test scripts. It would be useful if you can specify the report output directly on the script or as a global config of artillery.

Regards

[2016-07-14 10:07] hassy commented on #135
There's a `-o` option for both `artillery run` and `artillery quick` if that's what you mean?

[2016-07-14 10:10] danielo515 commented on #135
Yes, but you have to specify that option every time you call artillery. It is a bit uncomfortable, I would prefer to specify the output directory on the script configuration.

[2016-07-14 10:35] hassy commented on #135
You can do something like `` artillery run -o "tmp/`date`.json" myscript.yaml ``

[2016-07-14 11:21] danielo515 commented on #135
Of course, but then I have to do it every time. I want to specify it once on the test script and forget about it

[2016-07-14 15:18] joshmeek opened #136 "Is there a way to turn off reports?"
Is there any configuration to turning off the generation of reports in quick mode so that the output just comes through the command line?

[2016-07-14 15:35] DannyCork opened #137 "add website to repo , or own repo"
I'd like to contribute to updating artillery's documentation. I believe all the docs are on the website so I'm out of luck?

If the website was on Github as a separate repo anyone could update the docs with a pr .Maybe https://readthedocs.org/ is a better alternative as there is no redeployment of website required when the docs update?

[2016-07-14 15:59] hassy commented on #136
Not at the moment, but you can do `artillery quick -o /dev/null ...`

[2016-07-14 16:00] hassy commented on #137
Yup, new Sphinx-based docs are coming soon. :)

[2016-07-14 16:01] #136 closed

[2016-07-15 12:46] Rahul-012 commented on #4
@hassy  as i am new to artillery i found this tool very interesting and want to use this tool for my application  all the set up has been done. Suppose i want to check login application for multiple users so what will be my scenario plz tell me as i am completely new .. any help will be greatly appreciated

[2016-07-15 13:02] hassy commented on #4
@Rahul-012 I would suggest reading through the docs first, start here: https://artillery.io/docs/getting-started/ The docs contain everything you'd need to know.

[2016-07-15 14:14] rvnath opened #138 "How does artillery tool make HTTP requests?"
OK.  If I am using this tool for load testing of a HTTP server, I wanna know if it reuses the tcp connections for multiple requests, or does it follow the setup, user and tear-down approach for each request?

The reason I am asking this is because the behavior I observed in my NodeJS+EspressJS web server. Once the loading (RPS) crosses 500, it starts getting in **enobufs** error.  I am trying to g

[2016-07-15 14:42] hassy commented on #138
By default Artillery will open a new TCP connection for each *virtual user* (which will usually make multiple requests over that connection).

You can set the maximum total number of connections with `config.http.pool`. That will make multiple virtual users reuse the same connection.

[2016-07-16 04:40] rvnath commented on #138
Thanks for the info.  For my particular problem, I tried looking up at this [thread](https://github.com/nodejs/node-v0.x-archive/issues/3269).  As for what you say, artillery doesn't do a setup / teardown but it will reuse the connections.  Why do you think it will result in enobufs error frequently?  It happens whenver the loading reaches above 500 RPS.  I am using a virtual m/c with 8GB of RAM q

[2016-07-17 12:26] hassy commented on #138
Artillery creates a new connection for each virtual user so if your scenario only performs one request and you have a high arrival rate, it's possible that too many TCP connections are being created. That would be my guess. Try setting `config.http.pool` to something like 200 and see what happens.

[2016-07-17 12:26] #138 closed

[2016-07-17 13:53] hassy commented on #137
@DannyCork Sources for the new docs are here: https://github.com/shoreditch-ops/artillery-docs :)

[2016-07-17 13:53] #137 closed

[2016-07-17 13:54] #134 closed

[2016-07-17 14:09] hassy commented on #103
The Socket.io docs are up!

https://artillery.io/docs/testing_socketio.html

Source:
https://github.com/shoreditch-ops/artillery-docs/blob/master/source/testing_socketio.rst

[2016-07-17 14:09] #103 closed

[2016-07-18 05:29] Rahul-012 commented on #4
@hassy  i already read it i have a performed a simple operation and generate some reports but the problem is Scenario created, Scenario Completed Counter is not incremented  plz take a look at the below Snap-shot  or Correct me If i am wrong
![screenshot 171](https://cloud.githubusercontent.com/assets/17723293/16906511/b3986034-4cd6-11e6-8c5f-eae7113dedf1.png)

[2016-07-20 19:50] urbaitel opened #139 "support: how does 'ensure' work?"
I can't find any documentation or anywhere online that explains how ensure works.

"ensure: cause Artillery to return with a non-zero error code under certain result conditions. Useful for CI"

Please explain!  Ideally I'd like to put some requirements in here to ensure performance driven development.

[2016-07-20 20:13] hassy commented on #139
Once the test run is complete, the Artillery CLI looks at the value of `p50` / `p95` / `p99` for request latency, and exits with code 1 if it's bigger than what's specified in the `ensure` clause.

[2016-07-20 21:11] urbaitel commented on #139
GREAT, thanks!

[2016-07-20 21:21] urbaitel commented on #139
Can you explain p50, p95, p99 ..  is that the percentage (average) latency on 50%, 95% and 99% of the tests?

[2016-07-20 21:22] urbaitel commented on #139
And how do I set that with ensure.  Example please?

[code]
??

[2016-07-20 21:24] urbaitel commented on #139
OK, thanks for responding in the Gitter Channel.   Posting example here: https://github.com/shoreditch-ops/artillery-core/blob/966d84997c164c305f0ffd2833893c94fb7b7cf8/test/scripts/captures_regexp_group.json

[2016-07-20 21:24] #139 closed

[2016-07-21 10:48] carasel opened #140 "Cannot read property 'step' of undefined in socket.io scenario"
I am trying to run the following test:

[code]

This is causing the following error:

[code]

[2016-07-21 13:42] hassy commented on #140
Is this with the latest version of Artillery?

[2016-07-21 13:43] carasel commented on #140
I believe so, installed it yesterday, version 1.4.1

[2016-07-21 13:44] hassy commented on #140
You need v1.5 for socket.io :-) (`npm install -g artillery@latest`)

[2016-07-21 13:44] #140 closed

[2016-07-21 14:17] carasel commented on #140
Cheers. Can't see that mentioned in the docs, would be good if it was on the testing socket.io page :)

[2016-07-21 19:08] jdarling commented on #127
My initial though was inside of core it should emit events related to scenarios, then in the runner or other tools you can subscribe to those events and do whatever with them.  Plugins could be allowed for to extend functionality.  EG: Pushing all events to Mongo, Cassandra, Redis, <DB flavor of the day>

That would allow users to go in from a report and basically see "Ahh I got a 500 from xxx, le

[2016-07-22 08:04] hassy commented on #127
@jdarling There's two related but different use-cases to support - in one of them, you want visibility into every action that a virtual user has taken (requests sent, what was captured etc) to help debug complex scenarios or to verify they are working as intended. The other use-case is seeing the details of a request that's caused the server to return an error response. Both would be solved by log

[2016-07-29 10:03] alex7kir opened #141 "WebSockets tests fail to run if using loop"
Steps to reproduce:
1) Create a websockets test with loop construct (example attached [test2.txt](https://github.com/shoreditch-ops/artillery/files/390266/test2.txt))
2) Run it

Actual result: test run fails with an error
Console output:

[code]

[2016-07-29 15:34] wrightp opened #142 "Large body responses raise Invalid String length errors"
The use case I'm validating is the performance of our infrastructure which uses a caching CDN. The test script calls a GET request to download a file. The virtual users download the appropriate file as binary data. This is fine, but once the phases are complete artillery raises an error:

[code]

Note: during the `run` DEBUG is not enabled.

If I create a small set of virtual users and downloads I

[2016-07-29 15:39] hassy commented on #142
Thanks @wrightp. How large are these files? I'll try to replicate the error.

This looks like it might be a `request` issue. I have submitted a patch to `request` before to fix a bug where it would fail when dealing with large files - this could be related.

[2016-07-29 15:43] wrightp commented on #142
The payload of urls I'm randomly loading from have file sizes ranging from 20 MB to 455 MB. I will pare this data set down to see if it's specific to file size.

[2016-07-29 16:28] wrightp commented on #142
Update after some experimentation:
- Single virtual user downloading 1 20 MB file - success
- Single virtual user downloading 1 450 MB file produces error:
[code]
- Multiple virtual users downloading 450 MB files produces error:
[code]

[2016-07-29 17:14] ghost opened #143 "Issue with lodash"
I have an issue with latest version of lodash (v4.14.x) with artillery plguin.
The error is: TypeError: child.schema._getLabel is not a function
I resolved with a downgrade of the lodash version (^3.9.1) but this version will not have maintenance.

It great if you can upgrade the lodash version inside the plugin for scalability and maintenance.

[2016-08-01 21:11] hassy opened #147 "HTTP: support capturing more than one value"
It should be possible to capture multiple values from a single response (of different types if needed, e.g. grab a header *and also* part of the JSON body).

To enable multiple captures, the `capture` attribute would be specified as an array of capture objects.

Related: https://github.com/shoreditch-ops/artillery/issues/96

[2016-08-03 06:43] alex7kir commented on #59
Hi, I have a problem with this option. I've tried using every variant of turning certificate validation off described [here](https://artillery.io/docs/testing_http.html#ssl), but UNABLE_TO_VERIFY_LEAF_SIGNATURE error still appears. What could the problem be?

[2016-08-03 08:09] hassy commented on #59
@alex7kir Odd! Is it a self-signed certificate? Are you testing HTTP or
WS/Socket.io?

On Wednesday, 3 August 2016, alex7kir <notifications@github.com> wrote:

[2016-08-03 08:45] alex7kir commented on #59
@hassy Yes, it is a self-signed certificate. I'm testing WS.

[2016-08-03 10:29] hassy opened #150 "-k/--insecure flag not respected by the WS engine"
https://github.com/shoreditch-ops/artillery/issues/59#issuecomment-237179260

[2016-08-03 10:30] hassy commented on #59
@alex7kir thanks, that's a bug - will ship a fix soon

[2016-08-04 14:39] samwise00 commented on #106
my team would love for this to be implemented so that we can load test our file uploader using artillery

[2016-08-09 03:15] erikerikson opened #151 "Ramp Phase 0 => N Should be Valid"
Expected: A properly formed ramp phase from 0 to N should ramp from no load to N RPS by the end of the phase's duration.

Observed: a ramp phase that starts at zero is treated as a pause phase, no matter how high it is specified to ramp.

[code]

A temporary workaround is to change the zero to a one.

[2016-08-09 06:38] alex7kir commented on #150
Could you pleae tell when you are going to fix it? At least approximately.

[2016-08-09 19:12] erikerikson opened #153 "Ramp Phase should respect Duration"
Expected: a ramp phase should run for it's duration and no more (or less) (within reason)

Observations:
[code]

[2016-08-09 19:41] erikerikson commented on #153
When I run some of these on a beefier machine, while still a small sample size, I get very reliable values:
[code]

[2016-08-09 19:50] hassy commented on #153
Interesting! Do you have a reproducible test case to demonstrate @erikerikson? We are talking purely about the length of time in which arrival events are generated here right? (and not the total duration of time it takes for users launched in a phase to finish their scenarios)

[2016-08-09 19:58] erikerikson commented on #153
@hassy the data is not quite *that* clean.  It includes the flow executions but the flow for all of these is a single get with a latency that ranges from ~35ms not more than ~120ms.  I *am* making the assumption that the effect on the first result is relatively similar to the effect on the last result(s).

Script (slightly pared down):
[code]

Running that script, I saw:
`120 second ramp 1 => 2 ra

[2016-08-09 20:58] hassy commented on #150
Fixed in `v1.5.0-12`

https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-12

[2016-08-09 20:58] #150 closed

[2016-08-09 20:58] hassy commented on #147
Fixed in `v1.5.0-12`

https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-12

[2016-08-09 20:58] #147 closed

[2016-08-09 20:59] #124 closed

[2016-08-09 20:59] hassy commented on #98
Fixed in `v1.5.0-12`

https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-12

[2016-08-09 20:59] #98 closed

[2016-08-09 21:00] hassy commented on #96
Fixed in `v1.5.0-12`

https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-12

[2016-08-09 21:00] #96 closed

[2016-08-09 21:27] megh0682 commented on #61
Hello, I am trying to flush the output of quick test to a json file on computer as below but it gives me an error.  without -o option it is working fine

C:\Users\meiyer>artillery quick -d 30 -r 5 -n 20 -o `C:\Users\meiyer\artillery_r
eport_20160809_092466.json' http://127.0.0.1:8888/start
C:\Users\meiyer\AppData\Roaming\npm\node_modules\artillery\lib\commands\quick.js
:82
  } else if (p.protocol.

[2016-08-09 22:01] hassy commented on #61
What version of Aritllery are you running @megh0682? There's a line-break in the command that you posted - I assume it's a copy-paste accident, but just want to double check.

[2016-08-09 22:12] hassy commented on #153
@erikerikson the code running ramps was doing too much work under some conditions, new implementation incoming

[2016-08-09 23:58] erikerikson commented on #153
Awesome!  Thank you @hassy

[2016-08-10 00:01] erikerikson commented on #153
FWIW...  The reason this is relevant is that we're splitting load across Lambdas and any overrun creates an overlap that creates a period of double the intended load.  We'll be working to open source that splitting implementation soon.  Auto-dropping 15K RPS feels nice.

[2016-08-10 14:29] hassy commented on #153
@erikerikson cool, looking forward to playing with it!

[2016-08-10 14:36] hassy commented on #151
Thanks @erikerikson. This is a quirk of how ramps are currently implemented (not very well tbh) - new implementation incoming!

By the way (it's not documented anywhere at the moment), the way ramps are meant to work is as a shortcut to manually writing out a sequence of normal `arrivalRate` phases. To use the example above, the ramp definition is meant to be transformed behind the scenes to:

[co

[2016-08-10 16:15] RobGruhl commented on #153
![screen shot 2016-08-09 at 1 03 27 pm](https://cloud.githubusercontent.com/assets/13952844/17561469/fa59da64-5eda-11e6-9627-19dc3430828d.png)

Example ramp with over-run issues.

[2016-08-10 23:14] erikerikson commented on #151
Seriously no problem.  I ran into this and had to be less exact in my script-splitting code as a result.

My use case is that I was decomposing something (roughly) like
`[{ arrivalRate: 1, rampTo: 100, duration: 100 }]`
where each lambda is soft-limited to 50 RPS so that becomes
`[{ arrivalRate: 1, rampTo: 50, duration: 50 }, { arrivalRate: 50, duration: 50 }]`
and
`[{ pause: 50 }, { arrivalRate:

[2016-08-10 23:34] erikerikson commented on #151
As far as my intuition about the behavior of ramps, I'm not quite sure.

I think that your example is pretty much my raw expectation.  This is probably a best first implementation of ramps.

That said, what I've been seeing is that the ramp has largely been a step function where sometimes it produces the level you would expect from your arrivalRate decomposition except semi-regularly it produced o

[2016-08-10 23:35] erikerikson commented on #151
maybe that arrival rate of 0 would turn into a pause.  :)

[2016-08-15 21:47] jnicolls commented on #14
Is this still wanted?

[2016-08-16 14:12] hassy commented on #14
@jnicolls yes, definitely!

[2016-08-17 16:48] mvdwalle opened #154 "Add support for cluster/multicore"
Right now artillery is cpu bound on higher arrivalrates. It would be valuable to add multicore support to make artillery even more powerful.

[2016-08-18 09:16] code-4-fun opened #155 "Support for Multipart File Upload Requests"
Today I just stumbled upon this framework and would like to give it a spin. However, I would like to check if there is support for multi-part file upload requests. Apologies, I did not read the documentation in complete detail, but would like to know if its there...

[2016-08-19 19:40] hassy commented on #154
Multicore support is a work in progress on this branch: https://github.com/shoreditch-ops/artillery/tree/two-point-oh

[2016-08-19 19:40] #154 closed

[2016-08-19 19:41] hassy commented on #155
No, file uploads aren't well supported right now.

There's an existing issue here already - https://github.com/shoreditch-ops/artillery/issues/106

[2016-08-19 19:41] #155 closed

[2016-08-23 15:10] neilstuartcraig opened #156 "Tests which use mktemp fail on OSX"
Hi all

I have been tinkering around with Artillery and noticed that the unit tests fail on OSX. After a little digging, I noticed that OSX `mktemp` basically needs a `-t <filename>`.

I'll send a PR which fixes this in just a sec.

Cheers

[2016-08-23 15:24] neilstuartcraig commented on #156
The tests passed: https://travis-ci.org/shoreditch-ops/artillery/builds/154483349

So hopefully it's good for you all too!

[2016-08-28 13:23] #156 closed

[2016-08-29 03:52] lordjabez opened #158 "[Feature Request] Ability to use variables in `think` action"
My use case for artillery involves modelling realistic usage of my API, and that means randomizing the delays between calls to approximate different user behavior. In order to support this, I'd like artillery to be able to vary the amount of time waiting in a `think` action based on either a random variable or CSV file.

I already have the code written to support this feature, and would be happy t

[2016-08-29 05:13] lordjabez commented on #158
(Moving this to the core repo).

[2016-08-29 05:13] #158 closed

[2016-08-30 20:01] mrchief commented on #131
Its not cohesive and self contained then. Another scenario I have is to be able to login (once) and obtain some credentials and then use those for rest of the test.

You can almost do anything with shell scripting, but then, with that argument, almost everything is redundant, isn't it? :)

[2016-08-30 20:18] hassy commented on #131
@mrchief Logging in should probably be part of the scenario itself in your use case. Running external scripts to generate payload data is the perfect use case for something like `make` - Artillery is not a task runner.

[2016-08-31 02:52] mrchief commented on #131
Is there a way to say that run login only once under scenario? What if I'm not trying to benchmark login + API workflow, just the API?

[2016-08-31 09:35] hassy commented on #131
@mrchief If you have long-lived session tokens or something like that which you want to use in test scenarios rather than making auth calls inside the scenarios, then you'd need to pre-generate them. I'm open to including a pre-run hook similar to `beforeRequest` / `afterResponse`, but it wouldn't be a priority for the next release. PRs would be welcome though.

[2016-08-31 13:44] dshook commented on #51
Having a histogram of response times would be very useful IMO.  Something that shows how many requests fell into the 0-20 ms range, 21-40 range, etc..

[2016-08-31 21:04] mrchief commented on #131
I think a pre-run hook is all we're looking for here. I can't promise but will see if I can make a PR.

[2016-09-01 16:04] wjgilmore opened #159 "Install successful but no dinosaur for me"
Hi,

Per https://artillery.io/docs/gettingstarted.html I installed Artillery like so: `npm install -g artillery`. No installation errors were reported, but I didn't see a dinosaur as the docs indicated. I confirmed Artillery is in fact installed by running:

    $ artillery --version
    1.5.0-12

No big deal obviously but wanted to let the team know so the docs could be updated if this is no long

[2016-09-01 16:09] wjgilmore commented on #159
Aaaaaaaannd I am an idiot. Spelled dino as "dyno".

[2016-09-01 16:09] #159 closed

[2016-09-01 18:52] dshook opened #160 "Enhancement to add captured variables as part of summary output"
The capture functionality is great, and as a good enhancement it would be nice to include certain captured vars in the output.

Practical example: We output more timing information in a custom response header and would really like to have this captured during the load test so we can summarize/analyze it.  I tried abusing the transform eval string but since it's sandboxed that's not possible :)

[2016-09-02 08:17] hassy commented on #159
No worries @wjgilmore :)

[2016-09-02 08:22] hassy commented on #160
This can be done with a bit of custom Javascript, see this:

https://artillery.io/docs/testing_http.html#advanced-writing-custom-logic-in-javascript

You can `console.log` the values you're after, or alternatively the `ee` argument passed to hook functions has a `customStat` method, which can be used like this:

[code]

Which will then make Artillery print the distribution of ResponseTime values (

[2016-09-02 13:39] hassy commented on #153
Fixed in https://github.com/shoreditch-ops/artillery-core/pull/89

[2016-09-02 13:39] #153 closed

[2016-09-02 17:56] dshook commented on #160
That's awesome! Can't believe I missed that in the documentation since I was looking for that stuff specifically.

I'm only seeing the custom stats being output in the 10s reports and not the complete report at the end though.  Missing a config flag? bug?

[2016-09-03 19:58] hassy opened #161 "Emitting custom metrics from hook functions"
It's possible to add custom stats to Artillery's reports from hook functions as described here: https://github.com/shoreditch-ops/artillery/issues/160#issuecomment-244313730

The ability to do this is massively useful but the current code is only a proof-of-concept and needs to be rewritten.
- [x] Logging histograms should be possible (already implemented)
- [ ] Logging counters should be possible

[2016-09-03 19:58] hassy commented on #160
That's an oversight. The code is very experimental and needs to be rewritten to e.g. allow counters and not just histograms. I've created an issue here: https://github.com/shoreditch-ops/artillery/issues/161

[2016-09-03 19:59] hassy commented on #160
Oh and you probably didn't miss that bit in the docs - I only added it the other day, it might not have been there when you were looking.

[2016-09-06 15:26] dshook commented on #160
Haha, so that's why :)  I'll close this issue and follow #161

[2016-09-06 15:26] #160 closed

[2016-09-06 16:56] layonthebeech commented on #121
What is the stack trace for this error? I think I might be getting it too.

[2016-09-06 16:57] layonthebeech opened #162 "Socket io engine crash"
Not sure what is causing the crash but here is the stack trace -/usr/local/lib/node_modules/artillery/node_modules/artillery-core/lib/engine_socketio.js:168
        if (context.socketio) {
                   ^

TypeError: Cannot read property 'socketio' of undefined
    at scenarioWaterfallCb (/usr/local/lib/node_modules/artillery/node_modules/artillery-core/lib/engine_socketio.js:168:20)
    at /

[2016-09-07 03:24] rohitharkhani opened #163 "Custom logic support with socket io"
Custom logic support with socketio For Ex:- handle expected response message

[2016-09-07 09:46] danielmihai commented on #131
@mrchief any updates on this one :D ?

[2016-09-07 18:15] jmredfern opened #164 "Run flow elements in parallel"
To simulate browser calls which happen in parallel:

[code]

[2016-09-08 15:55] hassy commented on #164
Could you explain the use case a little bit more @jmredfern? If you could mark a request as async (e.g. with something `async: true`) to make Artillery not wait for a response, would that do what you need it to do?

[2016-09-12 08:54] hassy opened #167 "Allow multiple scripts to be given to "artillery run""
**Use case**: when testing a complex application (an ecommerce website backend in my case), it would be nice to keep scenario definitions in separate files for readability.

It's already possible to extract parts of a flow (e.g. checking out) into their own "subflows" using [YAML anchors/references](https://en.wikipedia.org/wiki/YAML#Advanced_components) to reduce repetition. The ability to separa

[2016-09-13 18:50] gboysko opened #170 "[Question] How to monitor messages arriving on socket.io channel?"
I understand how flows can be written to emit socket.io messages and wait (for some indeterminate amount of time) for a response message, but how would we write flows that can receive arbitrary (real-time) messages sent from other virtual users?

I can envision some type of `monitor` function that receives messages for a given flow and can verify that they are correct. Perhaps this monitoring can

[2016-09-13 20:28] hassy commented on #170
You're right @gboysko, there's nothing like it in Artillery yet, but it's definitely something worth adding! What is your exact use case?

[2016-09-13 21:11] gboysko opened #171 "[Feature Request] Validate parts of a socket.io message"
I like that I can verify a response message of a certain type ("channel") arrives in my flow, but how can I verify that a specific field is present?

In particular, the nature of my response messages is that they will contain some dynamically generated data and what I really want to do is check whether a specific field (e.g., `status`) has a boolean of `true`.

I can imagine that we can use the sa

[2016-09-13 21:23] gboysko commented on #170
Yeah, that's pretty close to what I'm thinking. My use case is what you'd expect in many chat/collaboration services: new messages arrive as users interact and I'd like to ensure that the messages received are consistent with the scenario/flow. I'd love to be able to "fail" the flow if an unexpected message was received (or an expected message contained fields indicating a failure condition).

I'm

[2016-09-14 08:54] hassy commented on #170
Cool, this is definitely a needed feature (not just for Socket.io either, but also for WebSockets and any other async protocol we want to support like MQTT or XMPP).

As the first experiment we could go ahead with something like this:

1. Support defining an `onMessage` function that would be invoked for every incoming message, which you could use to implement a custom counter for example. This wo

[2016-09-14 13:55] gboysko commented on #170
I'm new to Artillery and the code base, but may give it a try. I like the second option better as it reflects my own use case. If I did, I think it would be helpful to clearly understand the semantics.

For example, I would suspect that the invoked handler function (`myHandlerFunction`) can convey failures encountered, right? And that the "listening" phase of the flow would block the following emi

[2016-09-14 14:44] hassy commented on #170
@gboysko yep, in the HTTP engine handler functions can do one of two things:

1. Emit an `error` event which will log the error (in the shell output / JSON log) but won't abort the scenario.
2. Invoke the callback with an error object - that will log the error **and** abort the scenario.

As to whether the `emit`s following a `listen` would be blocked until the handler function returns - I think t

[2016-09-15 17:10] mrchief opened #173 "Programmatic API"
I'm trying to develop a artillery runner which can run artillery json for arbitrary modules. I'm currently spawning child processes and executing the script via CLI. But doing all that in a cross platform way is a real pain and buggy.

Would be great to have the artillery commands exposed for consumption via Javascript. Specifically, something like:

[code]

[2016-09-15 20:49] hassy commented on #117
Fixed in `v1.5.0-14`

[2016-09-15 20:49] #117 closed

[2016-09-15 23:26] erikerikson opened #174 "Space in `target` Gives Cryptic Error"
Low priority but...

If you have a space at the beginning of your `target` attribute as follows...

[code]

...you get the following cryptic error.

[code]

A trim might be appropriate.  That or a more appropriate and helpful error message.

[2016-09-16 08:35] hassy commented on #174
Yes, agree. In general we need better validation + helpful error messages & warnings.

[2016-09-19 19:12] hassy commented on #170
@gboysko any luck? (if you've had the time) feel free to open a WIP PR, I'm happy to help out!

[2016-09-19 20:04] gboysko commented on #170
Thanks, @hassy. I unfortunately, have not yet had the time. I am perhaps able to work on a different enhancement request (if you deem it worthy of pursuing [[#171](https://github.com/shoreditch-ops/artillery/issues/171)]. For me, this issue (#170) is more of a longer term concern, whereas #171 is somewhat nearer term.

[2016-09-20 12:28] hassy commented on #170
@gboysko yes, #171 is certainly something very useful!

[2016-09-21 10:41] hassy opened #176 "Artillery support for text editors"
It would be nice to have syntax highlighting for Artillery scripts (YAML and possibly JSON).

It should be pretty straightforward to modify an existing mode for YAML, adding highlighting for templates (`{{ }}` and `{{{ }}}`) and various actions (`get`, `post`, `emit` for Socket.io etc).

- [ ] Sublime
- [ ] Emacs
- [ ] Vim

[2016-09-21 17:29] hassy commented on #173
I can see the use-case but this wouldn't be a high priority feature. I would personally rather continue improving the CLI to make using it in shell scripts easier.

That said, a nice PR that implements a simple solution that wouldn't need much maintenance would be gladly received. :)

[2016-09-22 21:15] #173 closed

[2016-09-25 13:38] atul9911 opened #182 "ENOENT error while installing artillery"
i am trying to install artillery using
`nvm install -g artillery`
got this

[code]

[2016-09-26 09:11] hassy commented on #182
Looks like it could be an npm/Windows issue. Try running `npm cache clean` (and if you already have Artillery installed, run `npm uninstall -g artillery` first).

[2016-09-26 22:05] gwsii opened #183 "Artillery should halt testing if any specified plugin cannot be loaded"
When a plug-in code throws an error, Artillery reports the name of the plug-in as 'unable to load' and continues with the test. This is a problem for a couple of reasons:

1) Assuming the user needed that plug-in to perform testing, attempting to continue is over-optimistic. Artillery should exit at that point and refuse to test.

2) Artillery currently does not show any information about how or w

[2016-09-27 05:20] atul9911 commented on #182
thanks @hassy

[2016-09-27 05:20] #182 closed

[2016-09-27 08:19] andrevas opened #184 "beforeRequest hook doesn't work"
Hi guys!
I noticed the next issue:
When trying to change my json before sending, defined beforeRequest function is not called. Adding afterResponse function working as expected. My code looks like that:

[code]

[code]

[2016-09-27 08:55] hassy commented on #184
Thanks @andrevas. Your code looks right and should be working, will need to investigate.

[2016-09-27 09:18] hassy commented on #183
Yes 👍

[2016-09-27 18:11] duncanmeech opened #185 "beforeRequest doesn't appear to accept changes to the .url property"
The URI's I'm hitting need to be programmatically set. I can set the requestParams.json in the beforeRequests hook but changing the .url property doesn't appear to have any effect.
Tried poking through the source but artillery-core is MIA from the repo.
( actually this appears to be caused a little asymmetry...the url is usually relative to the target
but if you modify you must supply the full pat

[2016-09-27 19:37] gwsii commented on #183
Actually, it makes much more sense to log this against artillery-core. Closing this bug and opening one on that repo.

[2016-09-27 19:37] #183 closed

[2016-09-28 09:26] hassy commented on #185
The `uri` property is the one to change. (This should be documented.)

Core is in a separate repo: https://github.com/shoreditch-ops/artillery-core/

[2016-09-28 17:37] Nepoxx commented on #81
Just make sure it's configurable! I like using artillery on the same host as I dev on (e2e tests), so I need to leave some CPUs for the server itself :)

[2016-09-29 14:55] hassy commented on #130
I haven't been able to reproduce this. Are you still seeing this issue @markgandy?

[2016-09-29 15:10] hassy commented on #130
@markgandy Do you have anything else memory-heavy running alongside Artillery? The way stats are aggregated **does** cause memory growth over the lifetime of an Artillery process, but you shouldn't be anywhere near 1GB after 55m at ~30 RPS.

[2016-09-29 16:52] danielo515 commented on #176
Add VSCode to the list please

[2016-09-29 16:55] danielo515 commented on #135
Any intention to implement this?

[2016-09-29 17:09] danielo515 commented on #123
Ideally, if the CSV includes headers we can omit the fields declarations and made all the headers available automatically.

[2016-09-29 17:45] danielo515 commented on #184
It is happening for me too.

In my case it only happens if I do the following

[code]

[code]

[code]

Then I configure those for the scenario:

[code]

If I import just one file it works

[2016-09-29 18:44] danielo515 commented on #184
My issue is probably a problem on the YAML parser. Very early on the running phase the beforeRequest array is empty.
In `function runScenario(script, intermediate, runState)` the script specification already has an empty array for beforeRequest.

Regards

[2016-09-30 08:20] danielo515 commented on #184
Hello @hassy , finally I found the bug. It's pretty straighforward
The problem seems to be at line 82 of runner.js

[code]

Why do you empty the array if it is an array? it makes no sense.

[2016-09-30 08:30] hassy commented on #184
It needs to be set to an empty array if it's not defined (and left alone if it's an array). Easy fix. Thanks for investigating @danielo515!

[2016-09-30 08:38] danielo515 commented on #184
You're welcome @hassy

As a suggestion this worked fine for me:

[code]

Regards

[2016-09-30 14:48] danielo515 opened #188 "How values are picked from CSV"
Hello,

My doubt consist in two parts:
1. Can I specify more than one CSV file as payload?
2. If the answer is no, how are the values picked?

In case you only specify one file, documentation says that values are randomly picked, but it does not specifies how. Is a random row picked and then all the values from that row used? Or every time a new random value is picked?
This is important because if

[2016-09-30 14:53] hassy commented on #188
Yep, you can specify multiple payloads: https://artillery.io/docs/script_reference.html#payloads

A row is picked at random for each virtual user and the values are used to populate the variables.

[2016-09-30 14:54] danielo515 opened #189 "Is beforeRequest hooks run before or after variable substitution?"
Hello,

I am trying to use some JS logic to inject templated JSON payload in the request at runtime. This is for making  more automatic the task of use new payloads and smaller config files.
I wanted to use variables within the JSON templates that I inject, but this will be only possible if beforeRequest hooks runs before variable substitutions are performed.

Could you please clarify this point?

[2016-09-30 15:00] danielo515 commented on #188
If I specify several payload files, how does artillery know where to find the required variables? I want to have several files for different variables.

[2016-09-30 15:07] hassy commented on #188
The variables are set by the `fields` property on a payload object.

[2016-09-30 15:09] hassy commented on #189
Those run after variables have been substituted already. Yeah, we can add a `beforeTemplate` hook (or something named along those lines).

[2016-10-03 08:02] danielo515 commented on #188
Yes, you have to specify the fields, but since you specify payloads and fields separately, how do you relate the correct fields to the correct file?

[2016-10-03 08:06] hassy commented on #188
Each payload object in the config has its own field attribute (so you don't
specify the payload on the command line but in the script itself)

On Monday, 3 October 2016, Daniel Rodríguez Rivero <notifications@github.com>
wrote:

[2016-10-03 08:16] danielo515 commented on #188
Sorry @hassy but I'm still not understand how do you can specify multiple payloads. I re-read the examples and there is no example about how specifying several payload files... Ok, I just saw the sentence 'it can be an array'. I missed that. Maybe you could make it more prominent with an example? Thanks anyway.

[2016-10-03 08:40] hassy commented on #188
Thanks for the feedback, very valuable for making the docs better!

On Monday, 3 October 2016, Daniel Rodríguez Rivero <notifications@github.com>
wrote:

[2016-10-03 10:28] danielo515 commented on #189
In my tests it is happening that variable substitution is not being performed if I inject something in the context.vars
What is the point of being able to inject something into vars if it will not be used?

[2016-10-03 10:40] hassy commented on #189
Are you modifying the variable (or adding a new one) in the step **before** the one where you're using it?

[2016-10-03 11:00] danielo515 commented on #189
Hello @hassy ,

At first I was not, because the authorization hook runs at scenario level, and the one injecting some variables being used on the `url` was running at petition level. But now that I have moved the variable injector to scenario level too, and I put it before in the array of hooks the result is exactly the same: If I inspect the `requestParams` the variables are there, but the variab

[2016-10-03 11:02] danielo515 commented on #189
[code]

That is one of my flows, then

[2016-10-03 11:10] hassy commented on #189
As mentioned above `beforeRequest` runs **after** the substitutions have already been performed, that's why it doesn't work. We need a hook for before the substitutions are performed for your use case.

[2016-10-03 11:44] danielo515 commented on #189
Hello @hassy ,

I do understand that fact, I also deducted that after a while. But it is confusing that you have access to the environment variables on the `beforehooks` and that you can change them there. You should clearly specify that changing variables from the before hook will have no effect on the variable substitution, and maybe some other places that I didn't think about. Somebody (like me

[2016-10-04 09:56] danielo515 opened #190 "Collect non 200 responses"
Hello,

I'm not sure if this is currently possible, but if it is, please instruct me how.
I want to see what uris failed with which statusCode, which for me is basically any status different from 200.

I'm currently trying with this:

[code]

But nothing appears on the log. What I'm doing wrong?

Regards

[2016-10-04 14:27] hassy commented on #190
Not possible at the moment. What I've done before myself is use `console.error()` and then redirect stderr to a file when running Artillery with something like `artillery run something.yaml 2>errors.txt`

This will eventually be solved properly - there's an open issue here: https://github.com/shoreditch-ops/artillery/issues/161

[2016-10-04 17:58] danielo515 commented on #190
I was fearing an answer like that.
Thanks for the workaround by the way.

I'm curious about that already implemented feature. What does it refers to?

[2016-10-05 09:32] cppbit commented on #136
Any update on this?

[2016-10-05 09:59] hassy commented on #136
@cppbit nope. PRs welcome

[2016-10-05 18:54] gboysko commented on #171
Implemented as part of [PR 104](https://github.com/shoreditch-ops/artillery-core/pull/104) in artillery-core.

[2016-10-06 14:08] ValkyrieUK opened #191 "Header casing changed when request it sent"
I have a header in my configuration.
`"headers": {
        "X-Hub-Signature":"sha1=9046ee408f8c902dec5c84760f59djkfhasjfh73"
      }`

When watching the logs of the address I am testing the header comes through like `X-hub-signature`.

The authentication system I am using requires the header be as defined as is instead of lowercased.

[2016-10-10 12:29] hassy commented on #171
PR merged, closing this.

[2016-10-10 12:29] #171 closed

[2016-10-11 14:33] Elringus commented on #141
Well, that's sad: testing ws without variables and loop features is a pain :( Maybe put a warning to the docs, so people would be aware ws lacks some core features, before attempting to use the library...

[2016-10-11 16:13] hassy commented on #141
Hey @Elringus. Yup, the WebSocket engine needs to catch up with the HTTP and Socket.io engines feature-wise. It shouldn't be too hard, most of the supporting code is reusable and just needs to be plugged into the WS engine. If you want to try giving it a go, I'd be very happy to help out - just open a work-in-progress PR!

[2016-10-17 20:35] ltegman commented on #191
Looks like this is due to multiple calls to `lowcaseKeys` around https://github.com/shoreditch-ops/artillery-core/blob/master/lib/engine_http.js#L148

Since many headers are case sensitive could the lowcaseKeys calls be removed from the source, or would that be problematic in some way I'm not considering?

[2016-10-18 08:32] hassy commented on #191
Off the top of my head, the code relies on the headers being lowercase for avoiding sending duplicate headers where the only difference is casing and possibly for capturing header values as well.

I'll gladly merge a PR with a fix. According to the HTTP spec, headers are supposed to be case-insensitive i.e. a server should accept both `X-Auth` and `x-auth`. In practice, some servers / APIs don't f

[2016-10-18 23:58] erikerikson opened #192 "Doc Update Needed"
https://github.com/shoreditch-ops/artillery/blob/master/docs/plugins.md

Refers to `report.aggregate` which is no longer given in 2.x of artillery-core

[2016-10-19 00:11] erikerikson opened #193 "Plugin Contract Compatibility Check"
When plugin related contracts are broken, the contract against which a plugin is implemented must be declared and verified for compatibility by artillery-core or else plugins will cease to work without notice to plugin maintainers or guidance to users experiencing a breakage related to a contract incompatibility.

[2016-10-19 00:12] erikerikson commented on #193
we saw this when a project moved from using artillery ^1.8.0 to using ^2.4.6

[2016-10-19 00:57] baseprime commented on #112
+1, I figured Artillery could do this, but I guess not. Anyone have any ideas other than creating a new Artillery JSON file on the fly?

[2016-10-19 02:23] rupeshmore commented on #14
An attempt to convert postman api's to artillery config - https://dakiya-ykwpldbeqo.now.sh

[2016-10-19 13:22] hassy commented on #193
Yup, agreed. What sort of a mechanism to prevent these breakages would you suggest?

One possibility would be to allow plugins to declare the version of Artillery they have been tested with - that would allow for a warning message to the user at least if a possible incompatibility is detected. (Note that the breaking change was between major semver releases.)

Another solution would be to version

[2016-10-19 13:23] hassy commented on #192
PR please. :-) This doc should be moved to [artillery-docs](https://github.com/shoreditch-ops/artillery-docs) as well at some point.

[2016-10-19 14:00] erikerikson commented on #193
You absolutely complied with semver.  😀  Definitely just trying to start a productive conversation with this.

I think I would prefer that plugins be queried via a unchanging (across contract versions) static (used prior to construction) method that returns a contract version id or an array of contract version ids.  It might be helpful to make the contracts more explicit in concert.  Every plugin

[2016-10-19 14:02] erikerikson commented on #192
:)

[2016-10-19 14:05] hassy commented on #193
It is an interesting problem to think about, semver really was of no help here since plugins do not depend on core explicitly. Maybe another possible solution is a separate `plugin-interface` package, to act as a proxy between plugins and core. Version compatibility checking is then "free" in that the major version used by a plugin will have to match that used by Artillery, otherwise a warning can

[2016-10-19 14:16] erikerikson commented on #193
That's interesting.  It seems like it might block a robust plugin from working with multiple contracts (for disparate users).

Use case:

User one loves artillery-plugin-A, compatible with contract 1.
User two loves artillery-plugin-B, compatible with contract 2.

Both use artillery-plugin-C and that plugin's creator handles contracts 0, 1, and 2.

That way both user one and two can use the same n

[2016-10-20 10:52] dennisoverbeeke commented on #14
+1

[2016-10-23 06:31] JohnieLee commented on #131
I have a use case for this.  I'd like to load some context variables prior to running the scenarios.  Right now, I make a call to a dummy endpoint and use `beforeRequest` to call a init script.

[code]

initContext:
[code]

So, there's two different ways to solve this:

1)  Add a pre-scenario hook or artillery init hook
[code]

2)  Add a context variable field:
[code]

[2016-10-23 06:33] JohnieLee opened #195 "Feature Request: expose environment variable to context"
It would be good to expose the environment variable to the context.vars so that it's accessible by the processor.

[2016-10-27 17:29] JohnieLee opened #196 "Add documentation on usage of ensure"
The documentation on config/ensure is lacking here: https://artillery.io/docs/script_reference.html

[2016-10-28 05:09] JohnieLee opened #197 "Add init hook or config file that runs before the scenarios"
The use case that I have is that I have a config file of login/passwords and environment settings that I want to load into the context before the scenarios are run.  My current work around is to have a dummy request to an innocuous endpoint that uses a beforeRequest hook to init the context.

What I'd like to have is a parameter in the `config` block that either loads a config file into the contex

[2016-11-01 17:43] adipirro opened #198 "p99 is not being reported"
Something is wrong with p99 in the most recent version of artillery.

**Script**
[code]

**Output**
[code]

Using artillery@1.5.0-17 artillery-core@2.0.4-0

Assuming this is due to some change in core...but I'm not sure yet. Looking into it.

[2016-11-01 19:11] hassy commented on #198
`NaN` just means not enough values to calculate the 99th percentile

[2016-11-01 21:02] adipirro commented on #198
My bad...messing around with some things and just got myself confused.

[2016-11-01 21:02] #198 closed

[2016-11-01 22:17] hassy commented on #198
No worries, this should actually be documented, it confuses many people. :)

On Tuesday, 1 November 2016, Anthony DiPirro <notifications@github.com>
wrote:

[2016-11-02 17:40] mrchief opened #199 "Support custom ca for self signed certs"
In addition to `-k` or

[code]
options which completely disable ssl verify, it'd be nice to have an option to pass custom ca.  Something like:

[code]

[2016-11-08 14:20] hassy opened #202 "Don't include all latency measurements in HTML reports"
Those aren't actually used by any of the graphs and including everything can make for huge HTML files (20MB+ for longer/more intensive tests).

[2016-11-09 13:26] hassy commented on #199
Anything set in `config.tls` will be merged into the Request options:

https://github.com/request/request#tlsssl-protocol

[2016-11-09 18:55] mrchief commented on #199
Yes but that leaves the file reading bit to the user. Not a huge pain but now its not just a simple yaml/json config file.

[2016-11-09 21:16] mrchief commented on #173
@hassy I think I was shortsighted on this one. Exposing the commands doesn't do much due to the way things are laid out right now.

What I was looking for is an ability to run tests through code, something like:

[code]

The way I see it is to refactor `commands/runner` and `runner.js` to expose such an API surface. I can work on a PR if you're open to this.

[2016-11-09 21:57] mrchief commented on #173
It looks like artillery-core is the way to go for cases like this?

[2016-11-10 17:51] duncanjbrown opened #204 "Artillery hangs under Node 7"
Running under node 7.x causes the artillery process to hang at 100% CPU after a few seconds.

I created a repository with scripts to reproduce the issue using nodeenv here: https://github.com/duncanjbrown/node-artillery-bug-report

The process appears to be stuck in an infinite loop in Node's `timers.js`—debugger screenshot below. It never gets past line 572.

Artillery v1.5.0-17 will appear to co

[2016-11-11 00:03] servusoft opened #205 "count down (rampTo from big to small) don't works"
counting up works fine:
[code]
but count down break the phase and exit the test early
[code]

[2016-11-14 08:42] hassy commented on #205
`rampTo` was not intended to be used to ramp down. I'll take a PR that fixes that. :)

[2016-11-14 08:43] hassy commented on #204
Thanks @duncanjbrown, great bug report. 💚

[2016-11-14 08:47] hassy commented on #197
@JohnieLee there's a way to run an arbitrary function using a `function` step, e.g.:

[code]

where `setupContext` is something like:

[code]

[2016-11-15 22:20] jasondbaker opened #206 "Concurrent users calculation may be incorrect"
I recently ran a test against a script that is designed to simulate long latency requests. The test has one phase with a duration of 300s and an arrivalCount of 5. The test runs for 610s and it initiates 5 requests to a script which responds to each request after 300s.

After running the test, the concurrent users chart reports that at one point in the test there were 50 concurrent users. This val

[2016-11-16 10:13] servusoft commented on #205
would be better split `rampTo` to `rampUp` and `rampDown` or should rampTo 'understand' both cases ?

[2016-11-16 18:32] hassy commented on #206
Ooh, definitely looks like a bug. Thanks @jasondbaker

[2016-11-16 19:49] hassy opened #207 "Feature: loop until a condition is met"
It can be useful to loop until a condition is met.

This could be done with something like a `whileTrue` hook, which would call back with `true` or `false` to indicate whether the loop should continue and would have access to the full `context`.

[2016-11-17 09:25] benmag1 opened #208 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
* [Regular Expression Denial of Service](https://snyk.io/vuln/npm:minimatch:20160620?utm_source=gh_issue)
* Affected package: minimatch<=3.0.1

[Here is the test report for this repo](https://snyk.io/test/github/shoreditch-ops/artillery?utm_source=gh_issue).
If you’d like to fix this vulnerability, Snyk lets you generate a pul

[2016-11-17 15:50] hassy commented on #208
Not a bug, Artillery is not a server application.

I like Snyk but this looks like spam.

[2016-11-17 15:50] #208 closed

[2016-11-22 16:45] hassy commented on #204
Spent some time investigating this bug. It only manifests under Node 7 and **not** Node 4 or 6.

The implementation of `rampTo` (https://github.com/shoreditch-ops/artillery-core/blob/master/lib/phases.js#L84-L123) is the place to look further. Phaser's unit tests pass on 4 & 6 but fail on 7, which can be confirmed by running them under respective Node versions with:

[code]

Current hypothesis is

[2016-11-23 11:57] hassy commented on #204
The issue is in Node itself, affected versions are v6.8.1 and above.

Issue: https://github.com/nodejs/node/issues/9756

[2016-11-23 11:59] hassy opened #210 "Warn when rampTo is used with Node.js >= 6.8.1 and < 7.3.0"
Artillery may hang if an arrival phase uses `rampTo` under Node 6.8.1 or above:

Details: https://github.com/shoreditch-ops/artillery/issues/204

We need to print a warning when `rampTo` is used under an affected version of Node.

[2016-11-23 12:00] hassy commented on #204
Thanks for the great bug report @duncanjbrown - made finding the issue much easier.

[2016-11-23 12:00] #204 closed

[2016-11-23 16:59] renaudholcombe opened #211 "[Feature Request] - Allow for specifying Username/Password to generate Authentication Header"
It would be useful (unless it's already a feature, but if so, I can't find it) to be able to generate an authentication http header from a username and password. Currently it seems like one needs the already generated header in order to pass authorization information.

[2016-11-23 18:42] hassy commented on #211
HTTP Basic Auth is supported (need to document it though) and can be used like this:

[code]

[2016-11-23 19:30] renaudholcombe commented on #211
Thanks for the response, but I believe I've tracked down a related bug; if one uses the sequence:
1. Perform post request and capture a json property.
2. Attempt to use that captured value in a subsequent request, the capture will not be transformed.

For instance, given:
`              "get": {
                "url": "/api/ibor/v2/PositionLots",
                "auth":
                  { "user":

[2016-11-23 21:02] hassy commented on #211
@renaudholcombe Yes, you're right - that was an oversight in the implementation. The fix is in and will be available in the next release of Artillery.

[2016-11-23 21:10] #211 closed

[2016-11-24 13:06] hassy commented on #164
Closing as there are no plans to implement this for now - can be re-visited and re-opened again later.

[2016-11-24 13:06] #164 closed

[2016-11-24 13:14] #162 closed

[2016-11-24 13:22] raghavendra-annakula commented on #141
As @Elringus said this library is not very useful for testing web socket traffic.  In web socket world we want to keep connection open for long time to test my application behaviour. Loops are ideal to test this.

When can I expect a fix for this?

[2016-11-24 13:32] hassy commented on #141
@raghavendra-annakula The fix will be available when someone sends a PR. Alternatively, if your company needs this feature asap, there's https://artillery.io/services-support.html

I agree that the WS engine needs to catch up, but the docs are very clear on what is supported - https://artillery.io/docs/testing_websockets.html

If you need to test long-lived connections, you can use long `think` pe

[2016-11-24 13:49] hassy commented on #130
Closing for now - unable to reproduce.

[2016-11-24 13:54] hassy commented on #151
Ramps starting at 0 are supported now.

Yes ramps could be implemented this way, but with users rather than requests. The relationship between active users and RPS is not linear - it can be, but it's not a given. Ramps increase the number of arrivals over time, how that translates to RPS depends on how many requests there are in a scenario, response time of different requests in a scenario etc.

[2016-11-24 14:03] #151 closed

[2016-11-24 16:47] #112 closed

[2016-11-24 16:47] hassy commented on #112
@skxu @baseprime fixed now and will be available in the upcoming `v1.5.0`

[2016-11-24 21:52] hassy commented on #141
@alex7kir @Elringus fixed in the upcoming `v1.5.0`

[2016-11-24 21:52] #141 closed

[2016-11-25 20:27] soumsg opened #213 "Is it possible to keep a constant concurrency rate through out the run?"
When I set the arrivalRate to 10 and if the app server can process only 8 per sec, the next second concurrency level become 12. I was wondering if it is possible to keep a constant concurrency rate through out the run.

[2016-11-26 11:55] hassy commented on #213
There's `arrivalCount` which can be used to create a specific number of virtual users, which will maintain a constant concurrency level if the scenarios are long.

Otherwise there's no way to maintain a constant concurrency rate.

[2016-11-26 14:44] steveschnepp commented on #197
@hassy I think it's more about something that is run *prior* any scenario is picked, and only *once* per artillery run.

I'd even like a shutdown hook, as I'd then be able to do some automated cleanup of any temp file I'd generate during the run.

[2016-11-28 16:24] #206 closed

[2016-11-28 19:05] hassy opened #215 "Bug: Artillery won't exit once the test is done"
Affected versions: tested on `1.5.0-16` and `1.5.0-17`

Debug log: http://hastebin.com/sasidexamo.vbs

Reported by @sjb933.

[2016-11-29 10:45] steveschnepp opened #216 ""function" breaks when used inside a loop"
[code]

breaks with

[code]

[2016-11-29 13:03] hassy commented on #215
I've not been able to replicate with `v1.5.0-16` and a simple test script that sends a bunch of requests to an endpoint that ends up timing out.

@sjb933 Is there any other output on the terminal after "All phases launched" is printed? There should be more output (either printing the number of pending request/scenarios or saying that all scenarios have completed). Does the spinner still run?

Also

[2016-11-29 19:17] menzow opened #218 "Namespace support?"
Hey,

I'm trying to load test my application using artillery and socket.io.
In the emit action I see that there is a channel attribute, but no namespace attribute.

How do we handle this?

[2016-11-29 19:37] steveschnepp commented on #97
A nice workaround would be to use the `function` keyword to pick one randomly in a custom JS from that CSV.

Note that you cannot use `function` in a loop yet, due to #216.

- A working way would be every lookup in the CSV to be done via file access.
- A better way would be every lookup in the CSV to be done via file access if the file is above a certain threshold.
- A very good way would be to _p

[2016-11-29 19:40] steveschnepp commented on #81
This isn't very high on my list, as even with only 1 core, you can already throw some serious traffic to servers.

And, I guess it would make artillery **much** more complex.

[2016-11-29 20:14] hassy commented on #218
Does specifying the namespace in the target URL not work @menzow?

[2016-11-29 22:42] menzow commented on #218
Hey @hassy , thanks for your fast response.

Putting the namespace in the target url works indeed. The problem is that I can only test commands to one namespace at a time, and I need to communicate in multiple namespaces during the same test.

I went through artillery-core - `engine_socketio.js`, and it appears a connection is established in the compile method. I'm trying to modify the engine to a

[2016-11-29 22:49] menzow commented on #218
Some problem that I foresee is getSocket being called multiple times before a connection being established yet, causing getSocket to return a un-connected socket instance.

Another thing is the socket.on('connection_error',...) listener in the zero method. This one cancels the execution of the test and calls some other methods. I guess this should be moved into the getSocket method either?

Would

[2016-11-30 01:40] menzow commented on #218
Hey @hassy,

I implemented namespace selection per emit action into the [artillery-core](https://github.com/shoreditch-ops/artillery-core/) and opened a new issue there. Would be great if you could go through it and leave some feedback.

Right now it's working great for me.
https://github.com/shoreditch-ops/artillery-core/issues/124

[2016-11-30 01:40] #218 closed

[2016-11-30 23:48] gboysko commented on #215
Hey @hassy, how did you get the debug log? Is this automatically generated? I am encountering a case where the workload is done, but Artillery keeps running indefinitely.

[2016-12-01 10:38] hassy commented on #215
@gboysko debug info will be printed if you run `DEBUG=artillery:runner,runner,http,socketio artillery run ...`. Which version of Artillery and Node.js are you on?

[2016-12-01 12:31] raghavendra-annakula commented on #141
@hassy ,

I downloaded your trunk code , built the package. I am still observing same issue.

Ragavendra-MacBook-Pro:trunk ragavendra$ ./bin/artillery run wsclient.yaml
Log file: artillery_report_20161201_180054.json

Phase 0 started - duration: 300s
 |[TypeError: Cannot set property '$loopCount' of undefined]

Ragavendra-MacBook-Pro:trunk ragavendra$ cat wsclient.yaml
{
  "scenarios": [
    {

[2016-12-01 13:37] hassy commented on #141
@raghavendra-annakula are you using artillery-core from `master`?

[2016-12-01 16:45] gboysko commented on #215
We are using the latest (`1.5.0-16`) with Node 6.x. I'll make sure to enable that so that we can understand the hanging condition.

[2016-12-02 16:23] sjb933 commented on #215
Hi @hassy apologies I have not been able to provide more information.  This issue arose during a work project and we're now beyond the point where I am able to test/reproduce.  I hope that @gboysko can provide additional information that will help.

Thanks for the hard work!

[2016-12-02 16:32] gboysko commented on #215
FWIW, we are unable to reproduce the hanging condition at this time. However, we are armed with the DEBUG settings the next time it happens!

[2016-12-03 12:26] steveschnepp commented on #167
Letting the `main.yml`having *special* rights is counterintuitive. A much better way would be to have an `#include` mechanism, which then will just *fit in*.

[2016-12-03 12:27] steveschnepp commented on #176
What's the difference between `{{` and `{{{` ?

[2016-12-03 19:14] hassy commented on #176
@steveschnepp `{{` will HTML-escape the value, `{{{` leaves it as-is.

[2016-12-03 19:15] hassy commented on #215
@gboysko if you see it again please do share the logs. :-)

[2016-12-05 13:40] hassy opened #219 "Support nested loops"
It would be nice to be able to nest loops. To be able to nest loops, there will need to be a way to set the name of the counter variable (currently `$loopCount`).

[2016-12-05 13:40] hassy opened #220 "Make payload data available to hook functions"

[2016-12-05 18:49] wahmedswl opened #221 "Show url in final output"
Hi,
   It would be great if URL which is under test be display in the final output. Currently, when running
[code]
It gives all necessary information but it miss the url which is being tested and its really cumbersome to scroll up

[code]

It will be really great if url is also displayed.

Thanks

[2016-12-05 19:10] hassy commented on #221
Good idea. 👍

[2016-12-06 00:17] dteirney commented on #130
We've run into a number of problems with artillery running out of memory lately as well. Long soak tests explode eventually, and very short tests with large API responses also explode. We're using the statsd plugin but otherwise everything is vanilla artillery.

What information would be useful to help diagnose this problem?

[2016-12-06 09:54] hassy commented on #130
@dteirney Interesting, thanks for getting in touch about this!

Which versions of Node.js and Artillery are you on? Does Artillery fail with a memory allocation error (i.e. V8 reaches the maximum memory limit) or do you run Artillery in a memory constrained environment such as a small EC2 instance and it's getting killed by the OS?

What would be most helpful is an isolated example. I appreciate t

[2016-12-06 10:49] dteirney commented on #130
@hassy you can see the YAML configuration for one of the problematic artillery scripts at https://github.com/orionhealth/apigee-edgemicro-testing/blob/master/templates/artillery/stream-test.yaml

I'm using Node 7.2.0 and artillery 1.5.0-17. Artillery fails with a memory allocation error. I've had to bump up the heap size for V8 to get some scripts to run without exploding using:

```node --max_old

[2016-12-06 11:04] hassy commented on #130
Perfect, thanks @dteirney

[2016-12-06 14:08] #216 closed

[2016-12-06 14:09] hassy commented on #216
@steveschnepp Fixed in the upcoming `v1.5`

[2016-12-06 14:53] #219 closed

[2016-12-06 17:52] s0undt3ch opened #222 "Traceback when using loop in a websocket scenario"
Consider the following JSON definition:
[code]
When running the above I'm seeing:
[code]

[2016-12-06 20:20] hassy commented on #222
Thanks for the bug report s0undt3ch!

This has been fixed already (https://github.com/shoreditch-ops/artillery/issues/141). A new release will be published shortly with the fix.

[2016-12-06 20:42] hassy commented on #222
@s0undt3ch `v1.5.0-18` out now - https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-18

[2016-12-06 20:48] #222 closed

[2016-12-07 01:24] joeldodson commented on #215
Hi @hassy, @gboysko, @sjb933,

I'm seeing the same behavior.  The run finishes and artillery continues to run until I ctrl-c it.

If I run 60 seconds at 10 virtual users artillery will generally stop.  If I run 20 virtual users, it does not stop.

I'm using versions:

[artillery] $ artillery --version
1.5.0-17
[artillery] $ node --version
v6.9.1

I ran with command:

DEBUG=artillery:runner,runner,

[2016-12-07 01:41] joeldodson commented on #215
here's the output from

[artillery] $ DEBUG=artillery:runner,runner,http,socketio artillery run add_token.json  > debugoutput.txt 2>&1

[debugoutput.txt](https://github.com/shoreditch-ops/artillery/files/635447/debugoutput.txt)

[2016-12-07 09:48] s0undt3ch commented on #222
Thanks! Confirmed that latest release works great!

[2016-12-07 10:29] hassy commented on #215
@joeldodson very useful, thank you! I'm able to reproduce the issue with the info you provided. 👍

[2016-12-07 10:37] SamDecrock opened #223 "missing code in docs"
Hi,

I was reading the docs saw that you forgot to add a reference to the csv file here: https://artillery.io/docs/testing_http.html#variables-from-a-file

No idea if it's intentionally or not. Just mentioning it here.

Keep up the good work, seems like a great improvement over JMeter!

[2016-12-07 10:39] SamDecrock commented on #223
Nevermind, didn't read the part where you specify the csv file in the CLI :s

[2016-12-07 10:39] #223 closed

[2016-12-07 11:04] hassy commented on #223
no worries :)

[2016-12-07 12:18] SamDecrock opened #224 "limit number of requests to 1"
Hi,

Now a request is sent every second (specified in the docs).

I would like to use Artillery to test if a REST call succeeds, not to test if it survives multiple requests. Therefor I would to send one request per scenario.

Is that somehow possible?

Thanks,
Sam

[2016-12-07 12:35] hassy commented on #224
Yes - specify a single scenario with one request and in your `phases` definition use an `arrivalCount` of 1.

Artillery does not send a request every second. It launches virtual users (the rate depends on what you specify in `phases`) which then run through one of the scenarios you define, which can consist of multiple requests.

If you're using `quick`, then use the `-c` option to create just one

[2016-12-07 12:45] hassy commented on #215
So the issue seems to be caused by a bug in Node.js v6.8.1 and above (also see #204).

Bug report: https://github.com/nodejs/node/issues/9756
PR: https://github.com/nodejs/node/pull/9759

I haven't isolated the code in Artillery itself that triggers the bug yet, but the test case will hang reliably on Node.js 6.8.1 and above, and work fine on 6.8.0 or 4.x.

@gboysko @sjb933 @joeldodson The solutio

[2016-12-07 14:24] SamDecrock commented on #224
Thanks

[2016-12-07 14:24] #224 closed

[2016-12-07 14:25] SamDecrock opened #225 "Websocket responses support"
Hi,

I'm looking for a way to implement websocket message testing. Other than JMeter I can't find any testing tool.

Do you have an estimate as to when websocket response parsing/checking will be implemented?

Thanks,
Sam

[2016-12-07 15:29] hassy commented on #225
Not planned for a specific release at this point, but PRs are always welcome. :)

Both HTTP and Socket.io engines have support for it - copying the relevant bits into the WebSocket engine should be pretty straightforward.

[2016-12-07 16:56] gboysko commented on #215
Great job, @hassy. I can't be certain, but I feel that I've seen the hanging condition in Node 4.x as well. However, at the time, it was also an older version of artillery.

If we see the hanging condition again, we will resort to Node.js v6.8.0.

[2016-12-07 18:56] joeldodson commented on #215
Thanks @hassy.  I'm running artillery under node 6.7 now (already had that installed) and it's working great.  I'll stay with that for the time being.
Thanks for the artillery project, it's very useful.

[2016-12-08 08:06] hearace1 opened #226 "Can I write the scenarios in different files?"
When I define a complex test with multiply scenarios, is it possible for me to define the scenarios in different files? If so, I also can reuse the pre-defined scenarios for different test.

[2016-12-08 10:18] hassy commented on #226
There's no support for that yet. There's an issue to explore the possibilities (#167) but no concrete plans yet.

[2016-12-08 10:18] #226 closed

[2016-12-08 13:33] #215 closed

[2016-12-08 13:36] hassy commented on #215
I have rewritten the code inside Artillery that triggered the bug. I *think* we should be OK even on Node.js 6.8.1+ now.

[2016-12-08 17:16] hassy commented on #218
@menzow `v1.5.0-19` with namespace support is out :) - https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-19

[2016-12-08 17:17] hassy commented on #215
`v1.5.0-19` with the fixes is out now - https://github.com/shoreditch-ops/artillery/releases/tag/1.5.0-19

[2016-12-08 17:24] menzow commented on #218
Great. Thanks a lot!

I updated the `Testing SocketIO` doc , but have some problems with my local python (OSX, v2.7.10) and `sphinx_rtd_theme`. I'll create a pull request once I can verify everything displays correctly.

[2016-12-08 19:41] joeldodson commented on #215
thanks @hassy!  it's working great.

[2016-12-09 12:20] nishit-shah opened #228 "Generate AWS headers using aws-sigv4 plugin"
I have setup my aws account and have creds and region configured at ~/.aws/ path
my account is having region:us-east-1
Also configured the json file as displayed below for aws-sigv4 plugin:

  {

	"config": {
	"plugins": {
      "aws-sigv4": {

         "serviceName": "execute-api"
       }

    },
		"target": "https://hosttest.amazonaws.com",
		"phases": [
			{
				"duration": 60,
				"arrivalRat

[2016-12-09 12:24] hassy commented on #228
You'll have a better chance of getting an answer if you move the issue to plugin's repo:

https://github.com/Nordstrom/artillery-plugin-aws-sigv4

`artillery-plugin-aws-sigv4` is not part of Artillery itself.

[2016-12-09 12:27] nishit-shah commented on #228
ok :)

[2016-12-09 14:28] #228 closed

[2016-12-09 14:28] #213 closed

[2016-12-09 14:31] #188 closed

[2016-12-09 14:51] hassy opened #229 "Feature: set default engine for all scenarios"
It should be possible to set the default engine to use with `config.engine`, rather than needing to specify the engine for each scenario when it's not `http`.

[2016-12-13 03:46] astanciu opened #230 "Variables in capture statements"
It would be super useful to have variable evaluation inside capture statements. Ex:
[code]

Example usecase Flow:
1. do a POST to create a new User
2. capture the generated users' id
3. do a GET /users  (specifically want this, not /users/{id})
4. capture something from the results (finding the newly generated user by ID)
5. do something else with that data

[2016-12-13 05:27] hassy commented on #230
Good idea 👍

[2016-12-13 12:31] #230 closed

[2016-12-13 17:58] eshinFG opened #231 "Feature: Route reports - log of routes and times"
Thank you for creating this stress test tool!

Would be great if I could see which route/s is taking the longest where.

Log of times and routes and other useful data in a report form.

Thank you!

[2016-12-13 18:05] hassy commented on #231
Definitely a useful feature that should be built in. 👍

In the meantime this can be accomplished with a little bit of custom JS:

[code]

[code]

Untested, but should work.

[2016-12-13 22:18] eshinFG commented on #231
Thank you so much hassy! It worked like a charm. Great stuff!

[2016-12-15 19:54] eshinFG commented on #231
Heres my code I am using to find averages.
[code]

[code]
[code]
[code]

[2016-12-19 22:19] tiffanywilson commented on #231
@hassy this is awesome!

[2016-12-20 17:04] astanciu commented on #230
Can we get this patch included when doing `npm install artillery` ?

[2016-12-21 15:36] Inateno opened #232 "Giving cookie to WebSocket test"
Hi,

I'm trying to benchmark a WebSocket but I can't find in the documentation how to set the cookie.

Any help ?

Thanks

[2016-12-21 16:11] hassy commented on #232
@Inateno I think this should work but I haven't tested it:

[code]

But if that works, it would set the same cookie for all virtual users. There's no support for setting cookies inside scenarios yet.

[2016-12-21 19:16] dteirney commented on #130
@hassy is there anything else I can provide to help diagnose this memory issue? I've had to increase the heap size up to 8GB to run a 5-minute test.

[2016-12-22 09:09] MosayebG opened #233 "additional socket in socket.io test"
I got a problem with socket.io, so i post a question on stackoverflow.
please check it out.
[question link](http://stackoverflow.com/questions/41283067/artillery-load-testing-tool-create-additional-socket-per-simulated-user)

[2016-12-22 09:33] aguformoso commented on #51
What about a simple plot of _successful RPS_ (HTTP 200) vs. _attempted RPS_? I post-process the files with some python scripts and end up analyzing this (rather than time series):
![Successful vs. attempted RPS](https://cloud.githubusercontent.com/assets/1735250/21421180/2dc9da20-c83a-11e6-98e2-37e0d5b4b24d.png)

[2016-12-22 11:22] aduchate opened #234 "When testing on a loaded server, a socket hang up in a loop causes the whole test to hang"
The problem seems to happen in engine_utils.js within:

[code]

where `function(err, context2) {...}` is called with a null context and err set to `Error: socket hang up` and newContext.vars triggers an exception

[2016-12-22 11:30] aduchate commented on #234
Inserting `if (!context2) return cb(err, context2);` before `newContext = context2;`improves the behaviour. But I am not sure about what it implies in terms of loopIndexVar increment.

[2016-12-23 08:30] Inateno commented on #232
No problem, testing with one user is ok. I'm gonna try this now.

[2016-12-24 07:48] joelchen commented on #185
@hassy Looking forward to more documentation for (requestParams, context, ee, next).

[2016-12-24 11:27] MosayebG commented on #225
In artillery-core and engine_socketio.js i change this lines and now callback works for me:

`// No return data is expected, so emit without a listener
socketio.emit(outgoing.channel, outgoing.data, function(result){
	markEndTime(ee, context, startedAt);
      	return callback(null, context);
});`

I forked artillery-core [here](https://github.com/MosayebG/artillery-core) by editing this

[2016-12-26 15:46] hassy commented on #51
What's attempted as opposed to successful RPS @aguformoso?

[2016-12-26 15:47] hassy commented on #130
@dteirney nothing more needed for now, thanks. I'm pretty sure we've narrowed the cause of the issue, it's just a matter of shipping fixes now.

[2016-12-26 16:04] aguformoso commented on #51
Attempted includes every single HTTP request the client sends to the
service. Successful includes those HTTP responses the service is able to
deliver with a 200 code.
I think it would be a nice way to see the stress limits of your
application!

[2016-12-27 10:07] chinafzy opened #235 "do we have a sample test script for more than 2000 concurrency on socket.io?"
thanks.

[2016-12-27 22:10] tslape opened #236 "When making a call to a URL with an ampersand it replaces the & with &amp;"
While making a call that contains an ampersand in the signed URL from S3, it replaces the & with & amp ; causing a 403 forbidden error.

The URL is being set in a Javascript function afterReponse from the previous call.

[2016-12-28 07:02] dteirney commented on #130
@hassy good to know the issue has been found. Do you know what the timeframe might be for shipping the fixes?

[2016-12-29 13:04] hassy commented on #235
No, sorry.

[2016-12-29 13:04] #235 closed

[2016-12-31 17:38] steveschnepp commented on #51
Note that 302 might also be a Successful request for some scenarios.

[2016-12-31 21:04] MosayebG commented on #236
I have this issue too.

[2017-01-04 15:27] hassy commented on #236
Do you have a reproducible test case?

[2017-01-04 15:28] hassy commented on #234
thanks @aduchate

[2017-01-04 18:32] tslape commented on #236
[code]

[code]

The console will display
[code]

Facebook does not have an issue with the ampersand being encoded but it was where I was able to get a URL that had one. The issue occurs internally with files that are in S3 and have signed URLs and AWS does not view the encoded value as valid.

[2017-01-04 18:37] hassy commented on #236
Thanks @tslape. You can set `requestParams.uri` directly instead of using a template variable. If you need the variable, use `{{{ url }}}` to prevent it from being HTML-encoded.

[2017-01-04 18:47] tslape commented on #236
Thank you @hassy, using {{{ url }}} worked to prevent the encoding.

It may be useful to add this into the documents in the "Advanced: writing custom logic in Javascript" section.

[2017-01-05 16:52] hassy commented on #130
@dteirney a fix is on its way

[2017-01-05 17:14] hassy commented on #130
@dteirney can you try `v1.5.0-21` and see if that provides an improvement?

[2017-01-05 23:42] lightglitch commented on #73
The ability to integrate third-party generators like the one mentioned above or faker.js to create dynamic variable values would be a must.
When we want to test thousands of users registrations is a pain to create the CSV.

[2017-01-06 04:03] mgufrone commented on #73
Is there any plan for this feature? It would be nice to have the mentioned package above or faker.js to generate a lot of data.

[2017-01-06 04:19] endyjasmi opened #237 "Artillery runs forever and never exit"
Whenever the command `artillery run config.json` is executed, the artillery will run fine for the first few request and later keep on looping with the following progress report and never end.
[code]

Following is the environment it runs in:
[code]

Following is the config file:
[code]

Following is the log file generated by running `DEBUG=* artillery run config.json 2>&1 | tee debug.log`:
https://

[2017-01-06 11:46] hassy commented on #73
@lightglitch @mgufrone It's unlikely that this will be implemented as a built-in feature since it can be easily accomplished with a custom JS function (using `faker.js`) - https://artillery.io/docs/testing_http.html#advanced-writing-custom-logic-in-javascript

(The functionality could also be packaged up as an Artillery plugin)

[2017-01-06 12:02] hassy commented on #237
thanks for the bug report @endyjasmi

[2017-01-06 12:17] lightglitch commented on #73
Didn't notice that, that's enough for me thx.

[2017-01-06 12:22] mgufrone commented on #73
okay noted. @hassy thanks. 👍

[2017-01-06 13:10] hassy commented on #237
@endyjasmi should be fixed in `1.5.0-22`

[2017-01-06 13:10] #237 closed

[2017-01-06 15:11] antony commented on #73
I'll probably look at writing this Artillery plugin soon. I'll bear in mind the ability to switch between faker / chance as required.

[2017-01-10 10:19] hassy commented on #73
@antono cool! plugin docs are pretty-much non-existent unfortunately ([plugins.md](https://github.com/shoreditch-ops/artillery/blob/master/docs/plugins.md) is the extent of it) but there's a couple of plugins to look at:

- https://github.com/Nordstrom/artillery-plugin-aws-sigv4
- https://github.com/Nordstrom/artillery-plugin-influxdb
- https://github.com/shoreditch-ops/artillery-plugin-statsd

Fe

[2017-01-10 11:55] hassy commented on #130
Closing for now, will reopen if the problem is reported again.

[2017-01-10 11:55] #130 closed

[2017-01-10 12:02] hassy commented on #234
Fixed in https://github.com/shoreditch-ops/artillery-core/issues/138

[2017-01-10 12:02] #234 closed

[2017-01-10 17:36] hassy commented on #236
Fixed in https://github.com/shoreditch-ops/artillery-core/pull/139

[2017-01-10 17:36] #236 closed

[2017-01-11 01:40] endyjasmi opened #238 "Artillery runs forever and never exit (v2)"
When the command `artillery quick -d 60 -r 256 https://www.company.com/` is executed, artillery will run fine for the first few request and later keep on looping with the following progress report and never exit.
[code]

Following is the environment it runs in:
[code]

Following is the log file generated by running `DEBUG=* artillery quick -d 60 -r 256 https://www.bloomon.nl/ 2>&1 | tee debug.log`

[2017-01-11 10:46] hassy commented on #238
Thanks for the report @endyjasmi. I'm unable to reproduce the issue here. The following command completes fine for me:

[code]

`localhost:8080` is an `nginx` instance, the tests complete when left to run normally and when I kill `nginx` halfway through a run to simulate the target failing under load.

What does the normal Artillery output look like on your system? Do you see reported latency metr

[2017-01-11 11:20] soumsg commented on #231
This is great Hassy!!

[2017-01-11 12:18] hassy opened #239 "Specifying default request parameters"
It should be possible to set default request parameters with:

[code]

[2017-01-11 22:32] devimuthu opened #240 "Flow are not executing in sequence"
I have some set of flow added in scenarios. the flows are executed randomly. It is not executed in the sequence as per the script.

[2017-01-12 09:34] steveschnepp commented on #239
A way to automatically *add* headers would be nice. Specially for OAuth secured resources which requires an `Authorization: "Bearer {{ access_token }}"`header on each request, but might use some more indidually.

[2017-01-12 11:55] hassy commented on #240
Thanks for the report @devimuthu. Do you have an example?

[2017-01-12 12:20] hassy commented on #185
@joelchen Have you seen this: https://artillery.io/docs/testing_http.html#advanced-writing-custom-logic-in-javascript - Any suggestions on what to improve or add specifically?

[2017-01-13 03:26] endyjasmi commented on #238
@hassy From what I understand, this happens when the connection from artillery to the server is high.

[2017-01-13 12:15] #184 closed

[2017-01-13 12:16] #185 closed

[2017-01-13 12:22] hassy opened #241 "HTTP - DEBUG directives for printing requests/responses are ignored"
Introduced in `v1.5.0-21`, reported on Gitter

[2017-01-13 13:37] #241 closed

[2017-01-13 13:49] #195 closed

[2017-01-13 13:50] hassy commented on #195
The environment is now available as `$environment`

[2017-01-13 14:38] hassy commented on #238
@endyjasmi Can you post a log? (Just the normal output from Artillery as it runs the test). Can you also check the CPU usage of node processes and check that there are two of them still running?

[2017-01-16 03:53] dteirney commented on #130
@hassy just run some of our tests with the new 1.5 release and no problems so far. Thanks!

[2017-01-17 10:40] hassy opened #242 "Add support for Meteor DDP"
- DDP spec: https://github.com/meteor/meteor/blob/master/packages/ddp/DDP.md
- https://www.npmjs.com/package/ddp

A good place to start would be to copy the WS engine and start tweaking that:

https://github.com/shoreditch-ops/artillery-core/blob/master/lib/engine_ws.js

[2017-01-19 10:19] opatut commented on #210
I am using 7.3.0 and have not run into any problems. [Apparently, the fix has been released](http://nodesource.com/blog/node-js-7-3-0-release-brief/ (search for **\#9759** in there).

So can we remove the warning for those node versions again?

[2017-01-19 12:49] hassy commented on #210
@opatut Yup, thanks!

[2017-01-19 12:53] #210 closed

[2017-01-19 14:29] DavidBonsant opened #243 "Arrival rate drop issue for specific numbers [TypeError: size must be a number >= 0]"
Trying to simulate peaks with highs and lows gave us an error, we tested 15 to 5 for 2 minutes and 10 seconds, any other number than 15 to 5 seemed to work, a 100 second duration works too.
here is a sample code that causes the error
[code]

[2017-01-19 17:12] oscarvesga opened #244 "error: unknown option `-n'"
Hi, I am using the nex command line and I get this error.

`artillery quick --duration 60 --rate 10 --num 20 http://registro.uniandes.edu.co`

[2017-01-19 17:55] lethe0690 opened #245 "need example for socket.io with JWT"
Hi

I am trying to use artillery to test my socket.io server under
artillery 1.5.0-22 and socket.io 1.4.5

I auth the user with JWT while connecting. Connecting with socket.io client looks like

`io.connect('https://mywebsite', {`
`       'query': 'token=' + the JWT,`
`       'transports': ['websocket']`
`    });`

and the url looks like
`wss://mywebsite/socket.io/?token=the JWT&transport=websocke

[2017-01-19 22:12] tetreault opened #246 "External processor script not running, but no errors."
Hello,

I'm trying to use Artillery to test out socket.io on a project. I want to emulate two socketio events I have - `mouse_position` and `mouse_draw`. Artillery is correctly hitting my site, however the data being sent to it is empty which is how I know the processor script isn't running.

Here is `socket-stress-test.json`:
[code]

Here's the small `functions.js` file:
[code]

I've followed [th

[2017-01-19 22:27] hassy commented on #246
`function` is a top level "action", whereas in your script it's an attribute of the `emit` action. It needs to be its own step before `emit`.

[2017-01-19 22:29] tetreault commented on #246
OMG... If I could faceplam harder I would! How was I not noticing that... Thanks man!

[2017-01-19 22:34] tetreault commented on #246
@hassy I moved `"function": "setSocketData"` above the `emit`. It still is not populating any of the variables though. Based on the above I provided, is there anything else you think I should look at?

Thanks again for the help btw.

[2017-01-19 23:11] tetreault commented on #246
This works perfectly now and can be closed!

[2017-01-19 23:11] #246 closed

[2017-01-20 03:12] endrureza opened #247 "Test Login Scenario with CSRF field"
How can i do test login scenario with csrf field in it ? like laravel or ci..

This is so far the code that i wrote

[code]

[2017-01-20 09:37] hassy commented on #247
Grab the CSRF token value from the HTML response, then use that in your POST request.

See this for more details: https://artillery.io/docs/testing_http.html#extract-and-reuse-parts-of-a-response-request-chaining

[2017-01-20 09:52] endrureza commented on #247
Oke done, thanks for the clue @hassy

[2017-01-20 09:52] #247 closed

[2017-01-20 13:26] hassy commented on #244
@oscarvesga What version of Artillery is that? (`artillery -V`) Does `-n` instead of `--num` work?

[2017-01-20 13:27] hassy commented on #243
thanks for the report @DavidBonsant

[2017-01-20 13:54] oscarvesga commented on #244
`artillery -V`
`1.4.1`

[2017-01-21 10:03] hassy commented on #244
You need `v1.5`

[2017-01-21 20:50] oscarvesga commented on #244
How can I get the last version using `npm install -g artillery` ?

[2017-01-23 16:16] jamesjieye commented on #232
@hassy Is the any plan when to add support of setting cookie per users?

I'm testing a socket.io application and there are multiple servers behind a load balancer. The load balancer will use sticky session by routing the requests to the same server with the value in the cookie.

Thank you

[2017-01-24 10:15] hassy commented on #244
@oscarvesga `npm install -g artillery@latest` should do it

[2017-01-24 10:15] #244 closed

[2017-01-24 10:18] hassy commented on #232
Not planned for any particular time at the moment @jamesjieye - PRs gladly accepted though.

[2017-01-24 11:05] hassy commented on #245
@lethe0690 This isn't possible at the moment.

We just merged a PR which allows for transports to be configurable:

https://github.com/shoreditch-ops/artillery-core/pull/143

To allow for `query` to be customised we'll need to either introduce an explicit `connect` command to the Socket.io engine or another way to specify the query for a virtual user.

[2017-01-24 14:42] tslape opened #248 "Feature: Call Custom Javascript Functions on start and end of the overall run"
It would be useful to be able to call a custom Javascript Functions before any tests have run and once all tests have been completed.

The use case is using custom reporting and using it to clear out all old files before starting a new run.

Could also be useful if running Artillery on a server and being able to send a notification once the run has finished.

[2017-01-24 14:57] hassy commented on #248
There's already an issue to track this in #131. Closing this.

[2017-01-24 14:57] #248 closed

[2017-01-24 14:58] tslape commented on #248
Did not see that one. Thank you!

[2017-01-24 14:58] hassy commented on #197
Going to close this as we have #131 already, which I'll add on to the 2.0 list.

[2017-01-24 14:58] #197 closed

[2017-01-25 17:01] hassy opened #249 ""artillery report" should be smarter about trying to open the browser"
`report` should try to detect when it's running on Jenkins/Circle/Travis and just generate the HTML file then.

[2017-01-25 17:29] simonwilbert commented on #249
When generating reports on Circle, the builds appears to hang and eventually timed out as it tried to open the browser. adding -o option suggested by hassy solved this.

[2017-01-31 23:13] maximveksler opened #250 "Using {{ variable }} as Int variable"
I can't do that

`"sender_id": {{ fbID }},` as it complains on an invalid json.

Doing this `"sender_id": "{{ fbID }}",` fails the API, as now the number is a string.

Any solution for this ?

[2017-02-01 00:15] gboysko opened #251 "Trying to get JSON into socket.io script"
I'm using Artillery to invoke a socket.io server. In the past, the calls to `emit` were made using simple objects: scalar valued fields. I need something more sophisticated where a field is itself a JSON object which comes from the CSV file.

I understand that everything that comes back from the CSV parser is strings. We can consider either a "smart" analysis (e.g., the first and last characters o

[2017-02-02 16:01] hunterloftis opened #252 "Examples just lead to "an URL must be specified""

[2017-02-02 20:05] hassy commented on #252
Which examples exactly @hunterloftis?

[2017-02-03 19:52] gboysko opened #253 "Git Version Numbers?"
Shouldn't we increment the patch version every time there is a release? There are 22 releases on 1.5.0 and wouldn't be consistent with semver best practices to increment the patch number each time?

[2017-02-03 19:55] gboysko commented on #251
FWIW, I would be more than willing to implement this feature if the community feels it adds value. If so, I just need some indication of the best way to proceed. My approach would be to introduce some optional type qualifier in CSV fields which instruct Artillery in how to convert the string value to the ultimate value. This seems easy enough.

The bigger challenge (as far as I can tell) is gettin

[2017-02-04 13:57] hassy commented on #253
Those were all [pre-releases](http://semver.org/#spec-item-9) which are part of the semver spec. There's only one v1.5.0 and `npm install artillery` will install 1.5.0 rather than any of the pre-releases.

[2017-02-05 04:35] danielmeng07 opened #254 "Socket.io Test Giving Error "an URL must be specified""
Hey guys, I've been stuck on this for a couple days. I simplified it to match the example but it's still not working. When I run the script, it's neither registering on our Nginx access nor our error logs. Did I miss something obvious? Are you guys still supporting Socket.io?

Node 7.4.0
Artillery 1.5.0
Socket.io 1.7.2

test.yaml:
[code]

Output:
[code]

[2017-02-05 13:02] hassy commented on #254
`engine: "socket.io"` needs to be specified in the scenario definition

[2017-02-05 19:58] danielmeng07 commented on #254
Okay, I changed the position of the engine declaration and it's now showing up on the access logs.
In the first 20s, report gave this error:

[code]

Is there something I need to do to for the scenario to complete?

[code]

[2017-02-05 21:17] hassy commented on #254
`xhr poll error` is a Socket.io error and based on a quick Google search it doesn't seem like there's a definitive cause for it, but it could do with the server becoming overloaded.

[2017-02-06 00:26] danielmeng07 commented on #254
Hmm. I doubt that the server is becoming overloaded. My manual load test (by recursively adding clients) ran at about 10 new connections per second for 30 seconds without any hiccups.

Few things:
1) Connections are not being registered on Node in fact. Could it be that I have a reverse proxy installed on the server? i.e. Requests are rerouted to the server's localhost. (I can provide my Nginx Con

[2017-02-06 17:01] gboysko commented on #253
Thanks for the reply. Sorry for the confusion, I guess I haven't worked with an NPM module that utilized pre-releases.

So, 1.5.0 hasn't released yet? It doesn't show up under the *Releases* tab. However, after running `npm install artillery`, `artillery --version` shows `1.5.0`.

I was just trying to answer the question (to a colleague), do you know if you have the pre-release with our changes (1

[2017-02-06 17:13] hassy commented on #253
Yes, 1.5.0 is out but we're behind on writing up proper release notes for
it. :-)

[2017-02-06 17:15] gboysko commented on #253
I see. That explains it. Thanks for the clarification.

[2017-02-06 17:15] #253 closed

[2017-02-06 18:59] hassy commented on #254
Yes your reverse proxy could be an issue. Negative users being reported looks like an Artillery bug. You should see some numbers reported when the test runs successfully, the error you're seeing must be preventing any virtual users from executing their scenarios.

[2017-02-08 19:37] tetreault opened #255 "Emulate Mouse Movements Using Artillery.io For Load Testing NodeJS Server"
Hello, apologies for posting this here... Couldn't find answers on Stack Overflow, and the artillery.io gitter channel isn't responding.

I have an EC2 instance running a Node server. I create a socket when a user connects. A DIV gets created, and random png icon assigned as background image. When they move their mouse it emits the mouse movements so other people see their icon zooming around the

[2017-02-11 16:02] hassy commented on #255
@tetreault The socket.io engine does not support custom JS logic yet. If it did, you'd need to use `loop` along with your JS code to keep sending messages that correspond to mouse movements.

[2017-02-11 16:03] hassy commented on #254
Closing for now as unclear if it's an issue in Artillery.

[2017-02-11 16:03] #254 closed

[2017-02-11 16:03] hassy commented on #252
Closing for now - not enough info & can't reproduce locally.

[2017-02-11 16:03] #252 closed

[2017-02-11 16:22] tetreault commented on #255
Ahh i see, thank you for the response @hassy. Do you by any chance know a testing framework that exists today that would allow me to do something like that?

[2017-02-11 16:26] hassy commented on #255
@tetreault No other load testing tools have native Socket.io support. We will be adding scripting support to Socket.io soon in Artillery.

[2017-02-11 16:26] tetreault commented on #255
Thanks for the followup @hassy I appreciate it.

[2017-02-11 16:26] #255 closed

[2017-02-12 01:37] bonesoul opened #256 "security advisories"
![untitled](https://cloud.githubusercontent.com/assets/73215/22858912/83869b5c-f0d4-11e6-90d0-c678cd1f98f3.png)

[2017-02-12 14:39] hassy commented on #256
Thanks. Will gladly merge a PR fixing those although none apart from maybe the first one are relevant to Artillery as a CLI app that does not run as a server exposed to the internet. :)

[2017-02-13 13:59] igorclark opened #257 "Testing WS with 'loop': TypeError: Cannot read property 'ws' of undefined"
Hi there, when I try to run a WS test using `loop`, I get this error intermittently. I *think* it might be related to there being an error on the socket - sometimes it seems to correspond - but I can't say for sure. Using a hard-coded set of `send` message entries equivalent to what the `loop` would generate, against the same endpoint and with nothing else changed, the error doesn't happen. `node

[2017-02-13 20:02] hassy commented on #257
Which version of Artillery is this? (`artillery -V`)

[2017-02-13 20:51] igorclark commented on #257
Hi @hassy, thanks - I should have thought to check. It's the version that `npm` gave me by default, `1.5.0`.

[2017-02-13 21:10] hassy commented on #257
Yes, from a quick glance through the source that looks like a bug. Thanks for taking the time to report it @igorclark

[2017-02-13 21:24] hassy commented on #257
@igorclark try the new `v1.5.1`, that should fix the problem.

[2017-02-14 10:08] igorclark commented on #257
Morning @hassy, yes, that works great. Thank you!

[2017-02-14 10:08] #257 closed

[2017-02-15 16:54] portenez commented on #238
I see the same problem.

[code]

It ran against an environment that never went down.

The load generator machine did experience high cpu usage, but then it wen't down to normal levels.

[2017-02-15 18:02] sonisaurabh19 opened #258 "Report to have description about scnenarios"

[2017-02-15 18:45] hassy commented on #238
@portenez thanks, can you post the full log? Did you ever see metrics being reported while Artillery was running or always just `NaN`?

[2017-02-15 18:47] hassy commented on #258
Could you clarify a little @sonisaurabh19? Do you mean the console output or the HTML reports?

[2017-02-15 19:11] sonisaurabh19 commented on #258
I am referring to the HTML reports. If I see multiple reports in browser, there isn't an easy way to figure out which report corresponds to which load test. They simply have a time message saying what time the test was done.

[2017-02-15 19:23] portenez commented on #238
We just figured it out. It was an exception being thrown during custom js code run via `beforeRequest`. We fixed the exception, and the test was able to complete.

So, I guess there's still a bug. That an exception in one of the preProcessors will cause the whole test to hang

[2017-02-17 07:41] sanmoy27 opened #260 "multipart/form uploads is not working in artillerNode"
How to implement the functionality of multipart form upload through artillery

[2017-02-17 08:43] igorclark commented on #238
Hi folks, I'm seeing this too, but when I'm using a prepared Websocket test. It gets to the end of the test, everything's fine, cluster being tested is fine, and then Artillery just keeps doing this forever:

[code]

[2017-02-17 20:58] laurwang commented on #243
Hi, @hassy.  I'm getting the same problem.  The error is in line 102 of the current artillery-core/lib/phases.js: let probabilities = crypto.randomBytes(spec.duration * 1000 / tick * 1.25);

The size passed to randomBytes needs to be integer, so I think this could be sorted by changing to
let probabilities = crypto.randomBytes(Math.round(spec.duration * 1000 / tick * 1.25));//or Math.floor.

In th

[2017-02-18 19:47] hassy commented on #238
@portenez thanks, that's something to fix. @igorclark does it happen every time or only sometimes?

A reproducible test case would be amazing, but until then the only option I have is to review the code and try to spot any potential causes.

[2017-02-18 19:47] hassy opened #261 "Fix handling of exceptions in external JS functions"
Ref: #238

[2017-02-19 09:17] alzaltsm commented on #47
Thanks for nice product. Look forward to the "distributed mode".

[2017-02-21 10:22] igorclark commented on #238
@hassy don't know about _every_ time, but certainly 9 times out of 10.

Would love to provide a full test case including back-end, but it's not a public project. Here's the majority of the test plan though - don't know if it'll be much use but hope so :-)

[code]

[2017-02-21 20:20] hassy commented on #243
@laurwang thanks, I didn't see this in my GH notifications for some reason.

[2017-02-21 20:50] hassy commented on #243
Fixed in Artillery `v1.5.2`, thanks @laurwang

[2017-02-21 20:50] #243 closed

[2017-02-21 21:13] hassy commented on #238
@igorclark Thanks for that. Just to confirm - you don't see any error messages printed to the console at any point during a run that ends up spinning forever?

If you don't mind, next time that happens, does the following command print anything:

[code]

[2017-02-21 21:15] laurwang commented on #243
Thanks, @hassy!

[2017-02-21 21:19] igorclark commented on #238
Hey @hassy - no, no Artillery error messages. There are sometimes a couple of "ECONNRESET" or "connection closed by other party" when the server is getting really hammered, but that's normal, no? And when it ends up just spinning, it doesn't have any other errors, just the report every 10s.

I'll do another run tomorrow and run the `pgrep` command to get you some output.

[2017-02-24 17:35] ogrodnek opened #263 "TCP test support"
Hi!

I was wondering if anyone has thought about adding some simple TCP testing support, or how difficult it would be to plug in another engine into the framework?

My use case is I'm trying to test out the performance of some different graphite backends.  The [graphite protocol is a pretty simple plaintext one](http://graphite.readthedocs.io/en/latest/feeding-carbon.html).

thanks!

[2017-02-24 19:30] ngbravo commented on #250
Well, `"sender_id": {{ fbID }}` is not valid JSON

[2017-02-24 20:30] ngbravo commented on #221
@hassy I would like to start contributing, and this looks like a good first PR. Could you assign this issue to me?

[2017-02-24 21:28] n3ps commented on #245
@hassy Any chance we can make `query` configurable in the same manner as `transport`?

[2017-02-25 14:10] hassy commented on #263
It should be fairly straightforward to plug another engine in (Artillery is designed to allow for that) and I know that Artillery users have created their own custom engines. The easiest route is probably to use a Graphite module from `npm` to implement a graphite engine.

[2017-02-25 14:13] hassy commented on #221
@ngbravo cool, just send a PR, we don't really use the assign feature on Github

[2017-02-25 14:15] hassy commented on #245
@n3ps that's the plan, though there's no ETA on that (PRs always welcome though!)

[2017-02-25 15:45] ngbravo commented on #221
@hassy cool. I was just following your contributing guidelines in your readme file. Better update that then :)

[2017-02-27 09:44] cesarZubillaga opened #264 "Run artillery within an express server loops infinite"
Hi!

After artillery printing "all scenarios completed" i get infinite:
[code]
This is my enviroment:

artillery -V 1.5.1
node -v v6.8.0
express  -v 4.14.1

I have created a repository so you can reproduce the error.

https://github.com/cesarZubillaga/artilleryexpresstesting

I have tested this with LTS node version 6.10.0 and last node 7.6.0 resulting in the same error.

Thanks

[2017-02-27 15:16] n3ps commented on #245
PR submitted :)

[2017-02-28 21:00] hassy commented on #59
@zavermax yes that's a known problem (described in the issue) caused by Node.js having its own CA store. Which CA issued the cert that isn't being recognized?

[2017-03-01 03:34] zavermax commented on #59
Comodo

[2017-03-06 17:23] KidkArolis opened #267 "Docs unclear"
Hi,

maybe it's just me, but after a few hours of using the tool (which is great btw), I'm still a little confused on what the options mean. In particular, I'm confused about the mismatch between cli options and yml options, e.g.

[code]

Is explained as "To create 10 virtual users every second for 60 seconds which will send 20 GET requests each".

But when reading `phases` docs, I only see these

[2017-03-06 22:05] KidkArolis commented on #267
What's the difference between "RPS Count" vs "Mean RPS"?

[2017-03-07 10:52] git-checkout-girls commented on #260
any updates on above query? Same here, need to upload a file using form-data(body)

[2017-03-07 17:13] jetheurer opened #268 "Iterate through a list of json files"
I'd like to be able to point my config to a directory that contains a bunch of json files I'd like to loop through.  My payloads are complex and nested and I'd like to have each issued multiple times.

Is this possible?

[2017-03-07 22:18] KidkArolis commented on #267
I think I'm starting to get it.. arrivalRate is arrivalRate – how many users are added each second, and if the scenario has a flow with say 5 requests, each of those users will perform those 5 requests.

I'll close this issue, but still have some questions in case you have time to respond:

1. What's the difference between rps count and mean rps?
2. To control how many requests each user makes in

[2017-03-07 22:18] #267 closed

[2017-03-08 19:05] hassy commented on #267
hi @KidkArolis

1. RPS count is the total number of requests made in a period. Mean RPS is the average number of requests per second during that period.
2. Check out the `loop` command: https://artillery.io/docs/testing_http.html#loop-through-a-number-of-requests

`arrivalRate` is indeed the number of users "added" every second (ie arriving to use the application) - that's what `--rate` correspond

[2017-03-08 19:06] hassy commented on #268
Not sure what you mean @jetheurer, can you give an example?

[2017-03-08 19:07] hassy commented on #260
Not officially supported yet, but some work has been done on it. Ref: https://github.com/shoreditch-ops/artillery/pull/265

[2017-03-08 19:07] #260 closed

[2017-03-08 20:25] hassy commented on #264
Thanks for the bug report @cesarZubillaga

[2017-03-09 00:02] erikerikson opened #271 "Separation from Core"
One of the strengths we have enjoyed in this tool is the separation between the UX and the execution core.  This makes for a clean and flexible means of defining the capability and the interaction separately.  It also allows for more flexible uses of the library.

However, there are [two violations of this pattern](https://github.com/shoreditch-ops/artillery/blob/master/lib/worker.js#L66).  Both t

[2017-03-09 06:22] tiaod commented on #238
same issue
![image](https://cloud.githubusercontent.com/assets/7500825/23738366/88ab272a-04d3-11e7-9e5c-af604b3d3b57.png)
![image](https://cloud.githubusercontent.com/assets/7500825/23738388/a111aba4-04d3-11e7-8c01-723e9feef836.png)
I set a very height arrivalRate and it seems run forever and never stop.

`hello.yml`

[code]

[2017-03-09 06:30] tiaod commented on #238
Ten minutes later, it's still running,
![image](https://cloud.githubusercontent.com/assets/7500825/23738588/d8a22bce-04d4-11e7-8b98-5a5f4a624527.png)

[2017-03-09 14:38] cesarZubillaga commented on #264
To make my code run inside the server i did some changes and now i am running artillery as a command. I needed to capture the output and send to the client. This is how i solved it.

BTW thanks for this cool tool.

[code]

[2017-03-10 00:05] hassy commented on #271
Core is meant to be decoupled from the environment it's running in, hence the avoidance of FS operations inside it for example. Files being loaded elsewhere is actually the consequence of the intention that led to core being separate from the CLI in the first place.

The separation between `artillery-core` and `artillery` has become somewhat arbitrary anyway as Artillery has evolved. For example,

[2017-03-10 05:56] erikerikson commented on #271
This definitely helps me understand, thanks @hassy!

We would definitely be advocates for moving that into a reusable core module at some point.  Is there a means by which we could be more proactively aware of this sort of additional capability in the future?

[2017-03-10 19:18] hassy commented on #271
[Changelogs](https://github.com/shoreditch-ops/artillery/releases) would be the way to stay abreast of new features.

[2017-03-10 19:19] hassy commented on #263
Closing for now.

[2017-03-10 19:19] #263 closed

[2017-03-10 19:19] #268 closed

[2017-03-10 19:20] hassy commented on #238
Thanks @tiaod. Seems like high arrival rates have something to do with it but I was unable to reproduce previously. I'll give it another go though.

[2017-03-10 19:22] jetheurer commented on #268
Sorry @hassy I think I can do what I want with `beforeRequest`

[2017-03-10 19:23] hassy commented on #268
Great, no worries @jetheurer :)

[2017-03-10 19:56] hassy commented on #238
@tiaod are you wrapping Artillery in another script? Your issue may be related to #264 then.

[2017-03-10 20:33] #264 closed

[2017-03-10 20:35] #271 closed

[2017-03-11 02:38] tiaod commented on #238
@hassy Oh I forgot to mention that. You are right, I use child_proccess spanw to run Artillery. But on a lower arrivalRate (eg: 1000), it could stop normally.

[2017-03-13 13:18] glock18 opened #275 "Injecting random/generated parameters to a request"
Hey!

It seems to be impossible to generate a pseudorandom string on a per-request basis for socketio engine right now. Even some basic increment for test purposes would be fine, but preferably I'd like it to be a function returning generated string.

In my test I'd like to generate a random string for every client without having to manually type them into a csv or inline array. In case of http en

[2017-03-13 13:25] glock18 opened #276 "Any particular reason to limiting input formats to json and yml (not allowing javascript)"
Hey!

Is there any reason behind using purely non-script input formats? I feel it wasn't done without a good reason, as having an ability to use sync functions as any parameter in config, would yield great customization capabilities, with seemingly little drawback. I must be missing something here?

Inspired by https://github.com/shoreditch-ops/artillery/issues/275

I appreciate any explanation re

[2017-03-13 19:33] hassy commented on #276
Hook functions provide the ability to customize scenarios already.

Allowing for test scripts to be JS is not a terrible idea, but the end result would look very similar to how a YAML test looks like already - you'd be mostly making calls to exposed Artillery APIs. Not much benefit, but the ability to programmatically analyse and modify the test script would be gone (e.g. from a plugin).

[2017-03-13 19:35] hassy commented on #275
We need to add support for hooks in the socket.io engine. Related: #170

[2017-03-14 07:37] glock18 commented on #276
I see, thank you for explanation @hassy

[2017-03-15 11:32] philjones88 opened #278 "How to handle single quotes in CSV file?"
Take this scenario (excuse the pun)

Have a CSV that looks like:

[code]

When I try and use these in a URL like:

[code]

I see this works fine for rows 1 and 2 but for row 3 I see in the apps logs:

`/search?first=andrew&last=o&`

It seems to be the single quote, but weirdly continues but doesn't put in the last entry either.

Any ideas?

`version = 1.5.0-20`
`node = 7.6.0`

[2017-03-15 13:56] hassy commented on #278
Interesting, not sure if it's a bug in the CSV parsing library, Artillery itself, or if the single quote needs to be escaped, but should be easy enough to reproduce. Thanks for the bug report @philjones88

[2017-03-15 13:58] hassy commented on #276
No worries. :)

[2017-03-15 13:58] #276 closed

[2017-03-16 17:06] paulbes commented on #250
I have encountered a similar problem, I ended up solving it in the following way:
`conversion.js`:
[code]
`scenario.yaml`
[code]

[2017-03-17 01:11] maximveksler commented on #250
@paulbes that's very nice! I was looking for a hook to plug something like convertIDToInt but couldn't find one.

I ended up using https://github.com/wg/wrk but might look at it again for my next project.

[2017-03-17 19:41] ivoputzer opened #279 "arrivalRate lower than 1"
ideally it would be nice to have the ability to make request over a given duration with fewer concurrent virtual users than 1 per second. it looks like it is not possibile to specify an `arrivalRate` lower than `1`.

[2017-03-18 13:21] hassy commented on #279
What's your use-case @ivoputzer? Can it be solved by using `arrivalCount`? An `arrivalRate` of less than 1 doesn't really make sense intuitively.

[2017-03-18 13:25] hassy commented on #250
A nice way to solve this would be with YAML tags, so you could do something like:

[code]

But that requires some changes to YAML parsing inside Artillery.

[2017-03-18 16:49] ivoputzer commented on #279
we are currently trying to load-test our cluster with artillery and it works pretty well though in our case single services take long running tasks and we need to stress both the cluster and individual service for given phases and scenarios.

@hassy the problem can indeed be solved by tweaking both `arrivalCount` and `duration` properties each time and this is what we currently do though it feels

[2017-03-20 20:06] sloppylopez commented on #118
I have the same problem with and it's a bit annoying because I am not sure if I can make a load test that reproduces a server that gets wss and http requests indistinctly, any workaround you may suggest may be great help meanwhile.

[2017-03-20 21:55] keyscores commented on #185
@hassy can we get some more clarity on using Request in requestParams.
I'm familiar with Request, but setting a json body doesn't seem to be used in the request.
[code]
I'm not seeing it in the target URL logs.

Could you add an example in the docs?
Thanks in advance

[2017-03-21 16:44] ggordan opened #281 "Dynamically set loop number"
Hello all,

I was wondering whether it is possible to set the loop count dynamically. So as a use case, I have an endpoint that returns an array of items (number of items is not a fixed number), and I'd like to iterate through all those items and make requests based on a property in the array. I can use `beforeRequest` and `$loopCount` to achieve this, but it seems I need to know ahead of time how

[2017-03-23 08:43] ivoputzer commented on #279
any update on the subject @hassy?

[2017-03-25 10:30] hassy commented on #185
@keyscores looks like you're replacing the entirety of request parameters, including the URL. The request won't be made so you won't see it in the logs

[2017-03-25 10:37] hassy commented on #279
Not keen on supporting arrival rates of < 1 simply because it doesn't make sense intuitively (half a user every second? what would 0.3 mean? 0.7?)

The equivalent behavior could be expressed with inter arrival times, something like:

[code]

But that would need to be implemented as a new feature.

[2017-03-27 04:49] peara commented on #238
@hassy
I have the same issue when testing a socket io server with high arrivalRate.
From what I see, there are some connections which never get closed.
I think when the server unable to handle that much request, artillery will just wait forever.
The sever also seems to ignore these connections while artillery just waits and sends nothing.
Is there a mechanism to let artillery close these connectio

[2017-03-27 05:31] hassy commented on #238
@peara Thanks for the info. Artillery does try to time out connections - with an explicit timeout setting for HTTP and the default value used by the underlying library for Socket.io - something to look into to try to solve this. Cheers

[2017-03-28 00:40] armand1m commented on #106
+1 on this.

[2017-03-28 09:35] NickHongXin commented on #93
Can i know which artillery version supports '--replace' option?
Thanks

[2017-03-28 17:15] lucasvinals commented on #258
Hi guys, same issue here. I'm trying to test different endpoints and  I can't figure out how to view a specific scenario data. Only the general data is reported..

Any help would be appreciated.
Thanks.

[2017-03-28 17:19] lucasvinals commented on #92
Maybe related? #258 This feature would be really helpful.

[2017-03-28 21:35] varun10221 commented on #103
Hi,
How do i Send Json objects as Data while checking socket io?

Eg:
Channel: emit
Data: "I want Json data instead of string"

[2017-03-28 21:55] ksplache commented on #103
You can either put the JSON there directly or put in a string that contains the JSON.  Examples:

[code]

[2017-03-29 11:04] ivoputzer commented on #279
we currently use that patch because it simply does make sense to us; artillery displays rps rates lower than zero itself within its reports, thats why one would think it is just mathematically acceptable. i appreciate your time and hope it just might be of help to some folks out there ;) cheers.

[2017-03-29 13:11] philjones88 opened #283 "Cannot read property 'capture' of null"
Getting a weird error.

Both the YAML files I've written error with:

[code]

Even the one without any captures defined.

`node: 7.7.1`

This is what my YAML file looks like:

[code]

But weirdly, if I rewrite it as the following it works?!

[code]

[2017-03-29 19:13] hassy commented on #283
Indentation is wrong in the first file.

[code]

Needs to be:

[code]

i.e. `url` is a child property of `post`.

[2017-03-29 19:19] hassy commented on #279
Yes but RPS is not the same as virtual user arrivals, and there isn't necessarily a linear relationship between the two.

What would the expected behaviour be if `arrivalRate` was set to 0.7?

[2017-03-30 02:08] RifeWang opened #285 "Can not report a statistical graph?"
I think artillery is very flexible, but it will be better if it can report a statistical graph.

[2017-03-30 11:54] hassy commented on #285
Can you expand on that a little bit? What's a statistical graph? Got any examples?

[2017-03-30 13:12] phantomvivek opened #286 "WS Connections Fluctuate too Wildly"
Hello,

I've been using Artillery for load testing my websocket app and I have noticed strange behaviour related to heavy load. The connections made to the application fluctuate too wildly.

 Sample Artillery Log:
[code]

Sample configuration:
[code]

This seems like weird behaviour to me. Can you please tell me if I am doing something incorrectly? **I am running two instances of artillery on diff

[2017-03-30 13:26] philjones88 commented on #283
I'm a numpty, sorry.

[2017-03-30 13:26] #283 closed

[2017-03-30 14:23] philjones88 opened #287 "Latency on first few seconds of scenarios issue"
I've been trying to figure out what is causing this weird initial spike in latency.

I wrote some logic to load the report.json and run jasmine against it so I can easily write unit tests.

The problem is this initial spike in latency seems to fail my tests.

Look at the graphs below. I also wrote something to turn the 10 second intervals in the JSON into CSV so I could graph it in Excel.

This is

[2017-03-30 16:08] ivoputzer commented on #279
@hassy both values do express a rate though even if there isn't a linear relationship between the two:
* requests **per second**
* virtual users **per second**

given a linear throughput on the web-server there would be a relationship between `arrivalRate` and `rps` but thats another story; what i want to say is, if `rps` can be lower than zero how come `arrivalRate` doesn't? moreover, why not all

[2017-03-30 16:23] hassy commented on #279
RPS reported by Artillery is calculated *after the fact*, not set as a
target for when the test is run. So 5 requests in 10 seconds is 0.5 RPS.

If you set a phase's duration to 10 and arrivalCount to 5 you'd have an
average arrival rate of 0.5 afterwards too.

[2017-03-30 17:06] ivoputzer commented on #279
@hassy i just think it's not very handy to change `duration` and `arrivalCount` each time when actually trying to adjust the suite's throughput aka `arrivalRate`. `arrivalCount` is based on the suite's `duration`, `arrivalRate` is not!

average arrival rate of 0.5 afterwards too.

given suites of different duration `arrivalRate` is consistent (n virtual users each second for a given amount of time

[2017-03-30 18:27] hassy commented on #287
Do you have any visibility into what's happening inside the application? (using something like New Relic or even just something basic like watching the process with something like `ps`)

Are you seeing the same spike every time you run the test *without* the target service being restarted also?

[2017-03-30 18:30] hassy commented on #286
Is the application able to accept connections at the rate that Artillery creates them?

[2017-03-30 18:35] phantomvivek commented on #286
Yes, the application is able to accept them. I was testing out the new uws module to replace the existing ws module (might I suggest that would be a valuable addition to Artillery as well). I think this could have something to do with the OS limits, since after increasing them, the fluctuations occur but not with that big a gap as seen above. I shall post the results of those in a few hours.

[2017-03-30 18:48] hassy commented on #286
You should see `EMFILE` errors if the OS is running out of file descriptors. What's the CPU usage of Artillery's processes when the test is running? Artillery itself could be maxing out on the given hardware.

[2017-03-30 21:11] maxjanisse commented on #232
I just encountered this same need and did some local hacking to see what I could figure out, if anything.  Thankfully, it turns out that more recent versions of socket.io (1.5.2+) now support adding extra headers via the "extraHeaders" option during creation of the Socket (see [here](https://github.com/socketio/engine.io-client/pull/379)).  I've been able to confirm that updating Artillery's socke

[2017-03-31 06:06] phantomvivek commented on #286
I think this has something to do with the OS socket and file limits since after increasing them the test was able to kind of stabilize the RPS. The configuration used was the same as above **except the rampTo and arrivalRate changed to 500 on both servers.** (which is still a bit weird since none of the logs suggest an RPS very close to 500).

I have also noticed this that if the application being

[2017-03-31 08:49] RifeWang commented on #285
@hassy I mean HTML file like apache ab.

[2017-03-31 09:38] philjones88 commented on #287
I'm working on trying to figure it out.

I added the beforeRequest and afterResponse latency timing custom JS code I found in other PRs and identified it's the first ever request for the first ever scenario user Artillery.io creates.

I've ruled out our nginx proxy as it happens also on my development machine the same each time, so the bug is somewhere in Kestrel's web server or Artillery.io.

My

[2017-04-01 08:39] hassy commented on #285
there's `artillery report` command which takes a JSON file produced by `artillery run` and produces an HTML report.

[2017-04-01 08:39] #285 closed

[2017-04-01 09:28] hassy commented on #287
If you keep the application running but run the Artillery test against it a couple of times do you still see the same behavior? Do you observe the same behavior regardless of which endpoint is hit first in the scenario? What's Artillery's own CPU usage while the test is running?

[2017-04-01 11:37] philjones88 commented on #287
The same behaviour each time on the same application with not stopping and starting it.

I think I've narrowed it down to LDAP latency spikes.

I'm moving to a Open LDAP container next to the artillery and product containers to remove this variable.

--

Sent from my iPhone

On 1 Apr 2017, at 10:26, Hassy Veldstra <notifications@github.com<mailto:notifications@github.com>> wrote:

If you keep the

[2017-04-03 19:23] hassy commented on #281
Not right now @ggordan

[2017-04-03 19:27] hassy commented on #279
Happy to take a PR which implements `interArrivalTime` or something like that, which would allow for a use-case like yours to be expressed, but non-integer `arrivalRate`s don't make intuitive sense IMO.

[2017-04-04 04:29] panjizeith commented on #103
Hi, how do I simulate load testing artillery to hit random socket ID in single run ?

[2017-04-04 08:14] hassy commented on #103
@panjizeith can you create a new issue please - this one is not the appropriate place for a question. Can you provide a bit more information too - what do you mean by "hit random socket ID"?

[2017-04-04 09:41] panjizeith opened #288 "Random socket id"
Hi there, I want to ask, is it possible to test using artillery where the scenario is hit random socket id in single run.
I have live chat apps that i want to test. The scenario is I will simulate a lot of user hit the server and also sent message. The problem is my test only hit one socket id.

ex:
simulate 1000 user hit the server

user 1-100 will hit socketid 1
user 101-300 will hit socketid 2

[2017-04-04 09:42] panjizeith commented on #103
@hassy already post the new issue, sorry for the mistake

[2017-04-11 16:23] Emilemuny opened #292 "Allow loop count to accept a variable"
It'd be nice to be able to set the loop count to a variable instead of a static number.
Use case: Ability to set how many transactions to create during a load test, setting this number in the config variable. e.g config.variables.numberOfTransactions = 5 usage in scenario:  {"loop": [], "count": "{{ numberOfTransactions }}"}

[2017-04-14 14:45] KiarashS opened #295 "Poisson Distribution Load"
How we can generate the load with `Poisson Distribution `?

[2017-04-19 13:08] BerendWeij commented on #245
Should this be possible now:
[code]

[2017-04-20 14:39] jorisroling opened #296 "Local install gives error: TypeError: async.constant is not a function"
You might need to upgrade the async library to the current v1.5.2 (you seem to use certain newer functions already, like **constant**.

[2017-04-20 17:53] anders-brolien opened #297 "Is it possible to determine which virtual user is running?"
I'm trying to simulate a mass-user scenario. I would like each virtual user to give unique calls to the system (HTTP REST). What are the options for achieving this?

[2017-04-20 19:10] hassy commented on #297
You can write a custom function to generate a UUID (using the `uuid` module for example) and send that along with the request, using the mechanism described here: https://artillery.io/blog/using-fakerjs-with-artillery

[2017-04-20 19:12] hassy commented on #296
Artillery is using Async 1.5.2. Do you see the error when you install Artillery or when you try to run a test?

[2017-04-20 19:12] anders-brolien commented on #297
Thanks! Will try it out. Looks promising.

[2017-04-20 21:09] jorisroling commented on #296
I did install it locally, within an existing nodejs project), and it ended up in node_modules/artillery/node_modules/async (v1.0.0), while the project itself had async (v1.5.2) already installed (node_modules/async)

Installing artillery globally works fine, but I'd like the project to be self contained (for CI purposes).

Regards,
J*